<div class="height-100">

  <div class="height-100"
    data-ng-switch data-on="model._state">

    <div class="height-100"
      data-ng-switch-when="liked">
      <div class="col-xs-4 flex-center-vert text-right">
        <i class="fa fa-check fa-2x"></i>
      </div>
      <div class="col-xs-8 flex-center-vert text-left">
        <span class="uppercase">Invitation Sent</span>
      </div>
    </div>

    <div class="height-100"
      data-ng-switch-when="askDelete">
      <div class="col-xs-4 col-xs-offset-2 flex-center">
        <span class="uppercase">Delete?</span>
      </div>
      <div class="col-xs-2 flex-center">
        <button class="btn btn-transparent"
          data-ng-click="cardDelete({ $event: $event, model: model })">
          <i class="fa fa-check fa-2x"></i>
        </button>
      </div>
      <div class="col-xs-2 flex-center">
        <button class="btn btn-transparent"
          data-ng-click="cardCancelDelete({ $event: $event, model: model })">
          <i class="fa fa-times fa-2x"></i>
        </button>
      </div>
    </div>

  </div>
</div>
