<div class="modal-content-container text-center">
  <div class="modal-body">
    <p class="ci ci-report ci-2x"></i>
    <p class="uppercase">{{ message }}</p>
  </div>
  <div class="modal-footer row clear-margin">
    <div class="col-xs-6 clear-padding">
      <button type="button"
        class="btn btn-transparent btn-block btn-modal-check"
        data-ng-click="$close()">
        <i class="fa fa-check"></i>
      </button>
    </div>
    <div class="col-xs-6 clear-padding">
      <button type="button"
        class="btn btn-transparent btn-block"
        data-ng-click="$dismiss()">
        <i class="fa fa-times"></i>
      </button>
    </div>
  </div>
</div>
