<div class="container">
  <div><i class="ci ci-building ci-lg"></i>building</div>
  <div><i class="ci ci-building2 ci-lg"></i>building2</div>
  <div><i class="ci ci-building3 ci-lg"></i>building3</div>
  <div><i class="ci ci-callout ci-lg"></i>callout</div>
  <div><i class="ci ci-callout2 ci-lg"></i>callout2</div>
  <div><i class="ci ci-check-circle ci-lg"></i>check-circle</div>
  <div><i class="ci ci-checklist ci-lg"></i>checklist</div>
  <div><i class="ci ci-checklist2 ci-lg"></i>checklist2</div>
  <div><i class="ci ci-clock ci-lg"></i>clock</div>
  <div><i class="ci ci-edit ci-lg"></i>edit</div>
  <div><i class="ci ci-edit2 ci-lg"></i>edit2</div>
  <div><i class="ci ci-edit3 ci-lg"></i>edit3</div>
  <div><i class="ci ci-grad-cap ci-lg"></i>grad-cap</div>
  <div><i class="ci ci-hashtag ci-lg"></i>hashtag</div>
  <div><i class="ci ci-hashtag2 ci-lg"></i>hashtag2</div>
  <div><i class="ci ci-home ci-lg"></i>home</div>
  <div><i class="ci ci-home2 ci-lg"></i>home2</div>
  <div><i class="ci ci-info ci-lg"></i>info</div>
  <div><i class="ci ci-info2 ci-lg"></i>info2</div>
  <div><i class="ci ci-map-marker ci-lg"></i>map-marker</div>
  <div><i class="ci ci-more ci-lg"></i>more</div>
  <div><i class="ci ci-mug ci-lg"></i>mug</div>
  <div><i class="ci ci-person-card ci-lg"></i>person-card</div>
  <div><i class="ci ci-person-card2 ci-lg"></i>person-card2</div>
  <div><i class="ci ci-person-card3 ci-lg"></i>person-card3</div>
  <div><i class="ci ci-person-check ci-lg"></i>person-check</div>
  <div><i class="ci ci-person-tie ci-lg"></i>person-tie</div>
  <div><i class="ci ci-person-tie2 ci-lg"></i>person-tie2</div>
  <div><i class="ci ci-person ci-lg"></i>person</div>
  <div><i class="ci ci-person2 ci-lg"></i>person2</div>
  <div><i class="ci ci-plus ci-lg"></i>plus</div>
  <div><i class="ci ci-plus2 ci-lg"></i>plus2</div>
  <div><i class="ci ci-quote ci-lg"></i>quote</div>
  <div><i class="ci ci-report ci-lg"></i>report</div>
  <div><i class="ci ci-salary ci-lg"></i>salary</div>
  <div><i class="ci ci-search ci-lg"></i>search</div>
  <div><i class="ci ci-settings ci-lg"></i>settings</div>
  <div><i class="ci ci-share ci-lg"></i>share</div>
  <div><i class="ci ci-suitcase ci-lg"></i>suitcase</div>
  <div><i class="ci ci-trash ci-lg"></i>trash</div>
  <div><i class="ci ci-trash2 ci-lg"></i>trash2</div>
  <div><i class="ci ci-x-circle ci-lg"></i>x-circle</div>
</div>
