* {
	font-family: 'Montserrat';
}

/*THIS IS FOR THE NAV BAR */
.navbar {
	padding-bottom: 0px;
	font-size: 2em;
}

.navbar-header {
	width: 150px;
}

#punch-line {
	margin-top: 10px;
	font-size: 11px;
	width: 200px;
	display: inline-block;
	font-weight: 100;
	text-transform: uppercase;
}

.name-identifier {
	display: inline-block;
	float: right;
	font-size: 1em;
	margin-bottom: 0px;
}

.page-header {
	border-color: transparent; /* Removes weird border on page-header*/
}

.navbar-inverse {
	background-color: rgb(205, 201, 200);
	border-color: transparent;
}

.navbar-inverse .navbar-collapse {
	border-color: transparent;
}

.navbar-inverse .navbar-nav>li>a {
	color: black;
}

.navbar input {
	margin: 0 auto;
}

.container-fluid .navbar-header {
	margin-left: 24px;
	margin-right: 5px;
}

.logo {	
	padding: 10px;
}

#user-name {
	margin-bottom: 0px;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 1em;
	font-weight: 100;
}

/* THIS IS FOR SIDE BAR*/

.sidebar {
	background-color: rgb(150, 205, 128);
	top: 50px;
}

.nav-tabs {
	border: 0px;
}

.no-highlight:hover {
	border: 0px;
}

.nav-tabs>li.active >a,.nav-tabs>li.active >a:hover, .nav-tabs>li.active >a:focus  {
border: 0px solid inherit;
background-color: inherit;
}

.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 0px solid transparent;
  border-radius: 4px 4px 0 0;
  /*MOST .nav-tabs are TO REMOVE THE BORDER on HOVER */ 
}
.nav-tabs > li > a:hover {
  border-color: #eee #eee #ddd;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: rgb(205, 201, 200);
  cursor: default;
  background-color: transparent;
  border: 0px solid #ddd;
  border-bottom-color: transparent;
}

#no-highlight {
	margin-left: 10px;
} /*Centering the sidebar icons*/

.col-md-2 {
	/* Editing the width of sidebar*/
	width: 14%;
}

.sidebar ul li a:hover{
	color: rgb(205, 201, 200);
}

#no-highlight :hover {
	background-color: transparent;
}

.sidebar ul li {
	margin-bottom: 50px; /* Spacing between icons*/
}


.sidebar .fa {
	font-size: 8em;
	display: block; /* Makes sure the Font Awesome icons are displaying block, so the text will be below.*/
}
.container-fluid .row a {
	color: white;
	text-align: center;
	/* Centers the icons on side bar*/
}


span.title {
	font-style: normal;
	margin: 0 auto;
}

/* THIS IS FOR THE CONTENT SECTION*/

.placeholder {
	padding-right: 0px;
	padding-left: 0px;
	border: 2px solid rgb(205, 201, 200);
	border-bottom: 2px solid rgb(205, 201, 200);
	border-right: 2px solid rgb(205, 201, 200);
	border-left: 2px solid rgb(205, 201, 200);
}

h3.title {
	font-weight: 100;
	margin-bottom: 0px;
	margin-top: 5px;
}

p.quote {
	font-size: 12px;
	margin-bottom: 5px;
}

.wrapper {
	height: 580px;
}

.swipe {
	margin-top: 26.5%;
}

.header {
	background-color: rgb(150, 205, 128);
	padding-top: 5px;
	padding-bottom: 5px;
}

.header h6 {
	text-align: left;
	margin-top: 7.5px;
	margin-bottom: 0px;
	color: white;
}

.header-want{
	background-color: rgb(134, 127, 124);
	padding-top: 5px;
	color: white;
	text-align: left;
	
	margin-bottom: 0px;
	color: white;
}

.header-title {
	font-size: 16px;
}

.header-icon {
	font-size: 25px;
	color: white;
	margin-left: 28px;
}

		/* LEFT CONTAINER*/

.tab-content .tab-pane {
	padding-left: 14px;
}

.tab-content .tab-pane .wrapper {
	margin-bottom: 0px;
}

.tab-content .tab-pane .wrapper .col-sm-10 {
	margin-bottom: 0px;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

.left-col {
	margin-bottom: 0px;
}

.popover-header {
	padding: 0 100px;
	font-size: 12px;
	font-weight: 100;
}

.profile {
	height: 150px;
	margin-bottom: 10px;
}

.profile-pic {
	margin-top: 25%;
}

.description {
	margin-top: 8.5%;
}

.experience {
	height: 240px;
	margin-bottom: 10px;
	border-top: white;
}

.education {
	height: 110px;
	margin-bottom: 10px;
	border-top: white;
}

.title-tag {
text-align: left;
font-weight: lighter;
margin-top: 13px;
margin-bottom: 0px;
}

.organization-tag {
text-align: left;
font-size: 12px;
font-weight: lighter;
color: rgb(150, 205, 128);
margin-top: 2px;
margin-bottom: 0px;
}

.time-tag {
text-align: left;
font-weight: lighter;
font-size: 11px;
margin-top: 0px;
margin-bottom: 0px;
color: rgb(160, 160, 160);
}

		/* RIGHT CONTAINER*/
.right-col {
	margin-bottom: 0px;
}

.col-sm-6, .col-sm-5, .col-sm-10 {
	padding-right: 5px;
	padding-left: 5px;
}

.about {
	height: 200px;
	margin-bottom: 10px;
	border-top: white;
}

.user-tag {
	font-size: 8px;
	font-weight: lighter;
	margin: 5px;
	text-transform: uppercase;
	float: left;
}

.seeking-tag {
	font-size: 8px;
	font-weight: lighter;
	margin: 5px;
	text-transform: uppercase;
	float: left;
	background-color: rgb(178, 178, 178);
	border-color: rgb(178, 178, 178);
}

.fa-user {
	margin-left: 35px; /* Adjusting User-icon's position*/
}

.want {
	height: 240px;
	margin-bottom: 10px;
	border-top: white;
}

.message {
	border: none;
}

.btn-message {
	padding: 8px 40px;
	font-size: 25px;
}

.btn-message:hover,
.btn-message:focus,
.btn-message:active,
.btn-message.active,
.open .dropdown-toggle.btn-message {
  color: #fff;
  background-color: rgb(74, 138, 142);
  
}

.btn-message {
  color: #fff;
  background-color: rgb(74, 138, 142);
  
}

.btn-message:active,
.btn-message.active,
.open .dropdown-toggle.btn-message {
  background-image: none;
}
.btn-message.disabled,
.btn-message[disabled],
fieldset[disabled] .btn-message,
.btn-message.disabled:hover,
.btn-message[disabled]:hover,
fieldset[disabled] .btn-message:hover,
.btn-message.disabled:focus,
.btn-message[disabled]:focus,
fieldset[disabled] .btn-message:focus,
.btn-message.disabled:active,
.btn-message[disabled]:active,
fieldset[disabled] .btn-message:active,
.btn-message.disabled.active,
.btn-message[disabled].active,
fieldset[disabled] .btn-message.active {
  background-color:rgb(74, 138, 142);
 
}
.btn-message .badge {
  color: rgb(74, 138, 142);
  background-color: #fff;
}

.chatbox {
	width: 300px;
	height: 300px;
	background-color: white;
	position: absolute;
	margin-left: 738px;
	margin-top: -303px;
	z-index: 50000;
	border: 1px solid rgb(160, 160, 160);

	font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
}

.chatbox .row .col-sm-12 {
	overflow: scroll;
	padding-right: 6px;
}

.chatbox .row .col-sm-12 .user-title {
	font-size: 12px;
	margin-top: 0px;
	display: inline-block;
}

.chatbox .row .col-sm-12 .uiSelector {
	display: inline-block;
	float: right;
	cursor: pointer;
}

.display-box {
	height: 240px;
}

._552h {
	border-top: 1px solid #c9d0da;
	cursor: text;
	max-height: 77px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 3.5px;
	position: relative;
	resize: none;
	outline: none;
	margin: 0;
}

.chatinput {
	overflow: hidden;
	padding: 0;
	outline: none;
	resize: none;
	border: 0 none white;
	height: 1em;
	font-size: 12px;
	font-weight: lighter;

	font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
	color: black;
}

.chat-header {
	width: 93%;
	display: inline-block;
}

.close-chat {
	display: none;
}

.minimize-chat {
	height: 0px;
	margin-top: -32px;
}

.chatbox .row .display-box {
	padding: 0px;
	padding-right: 0px;
	width: 300px;
}

.speech-col {
	margin-top: 5px;
	padding: 0px;
	overflow: auto;

}

.chatbox .image-col {
	padding: 5px;
	
}



/*This is for the Matches Tab*/

#matches {
	margin-left: 12%;
	width: 90%;
}

.two {
	height: 635px;
	overflow: scroll;
}

.matches-tabs {
	background-color: rgb(70, 63, 61);
	margin-left: 10px;
}


.active .matches-tabs {
color: red;
}

.nav-tabs > li.active > a.matches-tab {
	margin-right: 2px;
	line-height: 1.42857143;
	color: rgb(160, 160, 160);
}

.nav-tabs > li > a.matches-tab {
	margin-right: 2px;
	line-height: 1.42857143;
	color: white;
}

#approval {
	color: white;
	margin-right: 27px;
	margin-bottom: 0px;
}

.user-matches {
	color: white;
}

.user-matches .profile {
	margin-bottom: 10px;
}

div.user-matches .profile-pic {
	margin-top: 0%;
	height: 68px;
}

.profile-pic-container {
	padding: 0px;
}

div.user-matches .description {
	margin-top: 3%;
}

div.user-matches .description h4  {
	margin-bottom: 5px;
	margin-top: 5px;
	font-size: 14px;
}

div.user-matches .description h5  {
	margin-bottom: 5px;
	margin-top: 5px;
	font-size: 12px;
}

div.user-matches .description h6 {
	margin-bottom: 5px;
	margin-top: 5px;
	font-size: 10px;
}

div.user-matches .description p {
	margin-bottom: 5px;
	margin-top: 5px;
	font-size: 9px;
	font-weight: 100;
}

.btn-round {
	display: inline-block;
	margin-top: 50%;
	font-weight: 100;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid white;
	white-space: nowrap;
	font-size: 14px;
	line-height: 1.42857143;
	width: 15px;
	height: 15px;
	border-radius: 50%;
}

.btn-approved {
	background-color: rgb(150, 205, 128);
}

img.manager-pic {
	margin-top: 20%;
	height: 45px;
}

.display-tabs {
	background-color: rgb(70, 63, 61);
	margin-left: 10px;
}

.container-fluid .row .dropdown {
	color: black;
}

.nav-pills > li > a,
.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
  color: rgb(205, 201, 200);
  background-color: rgb(70, 63, 61);
  ;
}

.middle-col {
	margin-left: 13%;
}

.arrow-right {
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid green;
}



/* POSTING JOBS*/

.post-job {
	margin-left: 32%;
}

.text-input {
	padding: 0px;
}

input {
	width: 100%;
	height: 150px;
	color: black;
	display: inline-block;
}

textarea {
	width: 100%;
	height: 150px;
	color: gray;
	display: inline-block;
}
textarea.placeholder4 {
	color: gray;
}
