@import 'colors'

$text-color = color-grey-30

$font-size-base = 14px
$font-size-h1 = floor(($font-size-base * 1.25))
$font-size-h2 = floor(($font-size-base * 1.25))
$font-size-h3 = ceil(($font-size-base * 1.25))
$font-size-h4 = ceil(($font-size-base * 1.25))
$font-size-h5 = $font-size-base
$font-size-h6 = ceil(($font-size-base * 0.85))

@import 'bootstrap'
