.coffee-input-helper
  display none
  position absolute
  right 1em
  font-style italic
  color red

.edit-sub-row
  .coffee-input-helper
    top 0
    left inherit

.ng-submitted
  .coffee-input-helper
    display initial

.ng-touched ~ .coffee-input-helper
  display initial

// Only display one coffee-input-helper at a time
.coffee-input-helper ~ .coffee-input-helper
  display none
