.coffee-input-helper
  display none

.ng-submitted
  .coffee-input-helper
    display initial
    position absolute
    top 2.3em
    right 1em
    font-style italic
    color red

  .edit-sub-row
    .coffee-input-helper
      top 0
      left inherit
