@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 3em;
}

nav.navbar {
  height: 50px;
  text-align: center;
  box-shadow: 0px 1px 1px grey;
}

.navbar-header {
  display: inline-block;
  float: none;
}

.navbar-brand {
    font-size: 1.2em;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.in-focus {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.thumbnail {
  border: none;
}

.thumbnail img {
  width: 100%;
}

.thumbnail:hover {
  outline: 4px solid #93bd7f;
}
