<!DOCTYPE html>
<html lang="en" ng-app='applicantApp'>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel = 'stylesheet' href='css/styles.css' >
  <link rel="icon" href="../../favicon.ico">
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="img/coffeelogo.ico"/>
  <title>Coffee</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/dashboard.css" rel="stylesheet">

  <script src="js/ie-emulation-modes-warning.js"></script>

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="js/ie10-viewport-bug-workaround.js"></script>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->

      <!-- Hardcoded path for socket.io, TODO: make into variable in angular app or controller -->
      <script type='text/javascript' src='http://localhost:3000/socket.io/socket.io.js'></script>

      <script type="text/javascript" src="js/angular.js"></script>
      <script type="text/javascript" src="js/angular-resource.js"></script>
      <script type='text/javascript' src='js/ui-bootstrap.js'></script>
      <script type="text/javascript" src='js/socket.js'></script> 

      <script src="js/app.js" type="text/javascript"></script>

      <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
    </head>

    <body>

      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="#"><img src="img/logo.png" class="img-responsive" alt="Responsive image"></a>
          </div>
          <div id="punch-line"><p>Connecting the next generation of professionals</p></div>
          <div class="navbar name-identifier">
            <p id="user-name">Benjamin</p>
          </div>
        </div>
      </div> <!-- Nav Bar -->

      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar nav-tabs" role="tablist">
              <!-- <li class="active"><a href="#">Overview</a></li> -->

              <li class="active" id="no-highlight"><a href="#profile" role="tab" data-toggle="tab"><i class="fa fa-desktop"></i></i><span class="title">HOME</span></a></li>

              <li id="no-highlight"><a href="#matches" role="tab" data-toggle="tab"><i class="fa fa-users"></i><span class="title">MATCHES</span></a></li>
              <li id="no-highlight"><a href="#jobs" role="tab" data-toggle="tab"><i class="fa fa-briefcase"></i><span class="title">JOB POSTINGS</span></a></li>
            </ul>
          <!-- <ul class="nav nav-sidebar">
            <li><a href="">Nav item</a></li>
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
          </ul> -->
        </div> <!-- Side Bar-->
        
        <div class="tab-content" ng-controller='ChatController as chatCtrl'>
          <div class="tab-pane fade in active col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="profile">
            <h3 class="text-center title"><strong>13</strong> total applicants</h3><p class="text-center quote">(Marketing Interns)</p>

            <div class="row placeholders wrapper" ng-controller="UserController as userCtrl">
              <div class="col-sm-1 swipe left">
                <button type="button" class="btn btn-danger btn-block" ng-click='prevApplicant()'><i class="fa fa-chevron-left"></i></button>
              </div>


              <div class="col-sm-10 placeholder" style="border: none;">
                <div class="popover-header"><p> {{user.about}} </p></div>
                <div class="row">
                  <div class="col-sm-6 left-col">
                    <div class="row">
                      <div class="col-sm-12 placeholder profile left-col">
                        <div class="row">
                          <div class="col-sm-4"><img class="img-responsive img-circle profile-pic" src="img/propic.png"></div>
                          <div class="col-sm-7">
                            <div class="sidebar-module sidebar-module-inset description">
                              <h4> {{user.firstName}} </h4>
                              <h5> {{user.lastName}} </h5>
                              <h5> {{user.organization}} </h5>
                              <h6> {{user.industry}} </h6>
                              <h6> {{user.location}} </h6>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12 placeholder left-col experience">

                        <div class="col-sm-12 header"> <div class="col-sm-10"><h6 class="header-title">Experience</h6></div><div class="col-sm-1"><i class="fa fa-briefcase header-icon"></i></div></div>

                        <div class="row" ng-repeat="t in [0,1,2]">
                          <div class="col-sm-12">
                            <h6 class="title-tag">{{user.extendedInfo.experience[t].position}}</h6>
                            <p class="organization-tag">{{user.extendedInfo.experience[t].organization}}</p>
                            <p class="time-tag">{{user.extendedInfo.experience[t].timeSpan}}</p>
                          </div>
                        </div>

                      </div>


                    </div>
                    <div class="row">
                      <div class="col-sm-12 placeholder left-col education">
                        <div class="col-sm-12 header"> <div class="col-sm-10"><h6 class="header-title">Education</h6></div><div class="col-sm-1"><i class="fa fa-graduation-cap header-icon"></i></div></div>
                        <!-- NOTE , this is only showing the first one, which is the most recent? -->
                        <div class="row">
                          <div class="col-sm-12">
                            <h6 class="title-tag">{{user.extendedInfo.education[0].school}}</h6>
                            <p class="organization-tag">{{user.extendedInfo.education[0].degree}}</p>
                            <p class="time-tag">{{user.extendedInfo.education[0].timeSpan}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 right col">
                    <div class="row">
                      <div class="col-sm-12 placeholder right-col about">
                        <div class="col-sm-12 header" style="margin-bottom: 5px;"> <div class="col-sm-10"><h6 class="header-title">I am...</h6></div><div class="col-sm-1"><i class="fa fa-user header-icon"></i></div></div>
                        <div class="row">
                          <div class="col-sm-12">
                            <button class="btn btn-success user-tag" ng-repeat='tag in user.tags'>  {{tag}} </button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-12 placeholder right-col want">
                        <div class="col-sm-12 header-want" style="margin-bottom: 5px;"> <div class="col-sm-10"><h6 class="header-title">Looking for...</h6></div><div class="col-sm-1"></div></div>

                        <div class="row">
                          <div class="col-sm-12">
                            <button class="btn btn-success seeking-tag">developer</button>
                            <button class="btn btn-success seeking-tag">designer</button>
                            <button class="btn btn-success seeking-tag">startup</button>
                            <button class="btn btn-success seeking-tag">iOS</button>
                            <button class="btn btn-success seeking-tag">Mobile Apps</button>
                            <button class="btn btn-success seeking-tag">Entrepreneurship</button>
                            <button class="btn btn-success seeking-tag">Finance</button>
                            <button class="btn btn-success seeking-tag">Ecommerce</button>
                            <button class="btn btn-success seeking-tag">Product Design</button>
                            <button class="btn btn-success seeking-tag">Investor</button>
                            <button class="btn btn-success seeking-tag">Marketing</button>

                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12 placeholder right-col message">
                        <button id="chatmessage" class="btn btn-message" ng-click='messageUser(user)'>Message <i class="fa fa-envelope"></i></button>
                      </div>
                    </div>
                  </div>

                </div>


              </div>
              <div class="col-sm-1 swipe right">
                <button type="button" class="btn btn-success btn-block" ng-click='nextApplicant()'><i class="fa fa-chevron-right"></i></button>
              </div>

            </div>


            <div class="chatbox" ng-repeat='chatWindow in chatWindows' ng-init='minimize=false'>
             <div class="row" >
               <div class="col-sm-12 header" ng-click='minimize = !minimize'>
                <div class="chat-header" ng-class="{'minimize-chat' : minimize }">
                 <h6 class="user-title">{{chatWindow.name}}</h6></div>
                 <div class="uiSelector"><a class="" role="button" ng-click='removeChatWindow(chatWindow.userId)'    ><i id="closechat" class="fa fa-times"></i></a></div>
               </div>
               <div class="chatter-wrap" >

                 <div scroll-glue class="col-sm-12 display-box" ng-model='glued'>

                  <div class="speech-col col-sm-12" id="speech-holder">
                    <div ng-repeat='message in chatWindow.messages track by $index'>
                     <div class="row sender-message" ng-if='message.sender === chatWindow.userId'>
                      <div class="col-sm-2 image-col" ><img class="img-responsive img-circle" src="img/manager.png"></div>
                      <div class="col-sm-10"><p class="bubble green">{{message.text}}</p></div>
                    </div>
                    <div class="row user-message" ng-if='message.sender === tempUser'>
                     <div class="col-sm-12">
                       <p class="bubble bubble-alt gray">{{message.text}}</p>
                     </div>
                   </div>
                 </div>
               </div>


   </div>
   <div class="col-sm-12 _552h"><textarea rows="1" id="chatwrite" class="chatinput" ng-model='chatWindow.messageInput' ng-enter='addMessage(chatWindow.userId)' ng-click="removeText(chatWindow)"></textarea></div>
 </div>
</div>
</div>
</div> <!--Profile-->




<div class="tab-pane fade col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="matches">
  <div class="tab content col-sm-6 left-col two" style="background-color: rgb(48, 42, 40);">

    <div class="nav">
      <ul class="nav nav-tabs" role="tablist">
        <li class="active matches-tabs"><a href="#status" class="matches-tab" role="tab" data-toggle="tab">By Status</a></li>
        <li class="matches-tabs"><a href="#position" class="matches-tab" role="tab" data-toggle="tab">By Position</a></li>
      </ul>
      <p id="approval"style="float: right;">Approved by</p>
    </div><!--Navbar-->



    <div class="row user-matches">
      <div class="col-sm-12">
        <div class="tab-content" style="padding: 15px;">
          <div class="tab-pane fade in active" id="status">

            <div class="applicant">
              <div class="row">
                <div class="col-sm-2 profile-pic-container"><img class="img-responsive img-rounded profile-pic" src="img/propic.png"></div>
                <div class="col-sm-6">
                  <div class="sidebar-module sidebar-module-inset description">
                    <h4 id="user-name">Benjamin Button</h4>
                    <p>Hello Ruth, I saw that you were an iOS developer, and I was wondering if we might talk...</p>
                  </div>
                </div>
                <div class="col-sm-2"><button class="btn-round btn-approved"></button></div>
                <div class="col-sm-2"><img src="img/manager.png" class="img-responsive img-rounded manager-pic"></div>
              </div>
              <div class="col-sm-10 col-sm-offset-2" style="border: 1px solid white;">   </div>

            </div>
          </div>
          <div class="tab-pane fade" id="position"></div>
        </div>
      </div>
    </div><!-- Row-->

  </div>

  <div class="col-sm-6 right-col two">
    <div class="anything">

      <ul class="nav nav-pills navbar-right">
        <!-- <li class="active display-tabs"><a href="#">Regular Link</a></li> -->
        <li class="display-tabs dropdown">
          <a id="drop4" href="#" role="button" data-toggle="dropdown">More<span class="caret"></span></a>
          <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
            <li role="presentation">
              <a class="dropdown" role="menuitem" tabindex="-1" href="http://twitter.com">TwitterOne</a>
            </li>
            <li role="presentation">
              <a class="dropdown" role="menuitem" tabindex="-1" href="http://twitter.com">TwitterTwo</a>
            </li>
            <li role="presentation">
              <a class="dropdown" role="menuitem" tabindex="-1" href="http://twitter.com">TwitterThree</a>
            </li>
          </ul>
        </li>
      </ul>

    </div> <!--End of tab-->





    <div class="col-sm-12">

      <div class="popover-header" style="padding: 0px;"><p>*Ex Finance guy working in startups. Would love to start helping you do some really cool stuff at this point in my career and help your company grow.</p></div>

      <div class="row">
        <div class="col-sm-9 placeholder middle-col experience">

          <div class="col-sm-12 header"> <div class="col-sm-10"><h6 class="header-title">Experience</h6></div><div class="col-sm-1"><i class="fa fa-briefcase header-icon"></i></div></div>

          <div class="row">
            <div class="col-sm-12">
              <h6 class="title-tag">VP of Operations</h6>
              <p class="organization-tag">JP Morgan Chase</p>
              <p class="time-tag">June 2013 - Present (7 months) Hong Kong</p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <h6 class="title-tag">Founder</h6>
              <p class="organization-tag">BU Urban Business Accelerator</p>
              <p class="time-tag">January 2012 - June 2013 (1 year 6 months) Boston</p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <h6 class="title-tag">Co-Founder & Director</h6>
              <p class="organization-tag">AnaGenesis</p>
              <p class="time-tag">June 2011 - March 2012 (10months) India and Boston</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-9 placeholder middle-col education">
          <div class="col-sm-12 header"> <div class="col-sm-10"><h6 class="header-title">Education</h6></div><div class="col-sm-1"><i class="fa fa-graduation-cap header-icon"></i></div></div>
          <div class="row">
            <div class="col-sm-12">
              <h6 class="title-tag">Boston University - School of Management</h6>
              <p class="organization-tag">BSBA, Operations & Technology Management</p>
              <p class="time-tag">2008-2012</p>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-9 placeholder middle-col about">
          <div class="col-sm-12 header" style="margin-bottom: 5px;"> <div class="col-sm-10"><h6 class="header-title">I am...</h6></div><div class="col-sm-1"><i class="fa fa-user header-icon"></i></div></div>
          <div class="row">
            <div class="col-sm-12">
              <button class="btn btn-success user-tag">developer</button>
              <button class="btn btn-success user-tag">designer</button>
              <button class="btn btn-success user-tag">startup</button>
              <button class="btn btn-success user-tag">iOS</button>
              <button class="btn btn-success user-tag">Mobile Apps</button>
              <button class="btn btn-success user-tag">Entrepreneurship</button>
              <button class="btn btn-success user-tag">Finance</button>
              <button class="btn btn-success user-tag">Ecommerce</button>
              <button class="btn btn-success user-tag">Product Design</button>
              <button class="btn btn-success user-tag">Investor</button>
              <button class="btn btn-success user-tag">Marketing</button>

            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-9 placeholder middle-col want">
          <div class="col-sm-12 header-want" style="margin-bottom: 5px;"> <div class="col-sm-10"><h6 class="header-title">Looking for...</h6></div><div class="col-sm-1"></div></div>

          <div class="row">
            <div class="col-sm-12">
              <button class="btn btn-success seeking-tag">developer</button>
              <button class="btn btn-success seeking-tag">designer</button>
              <button class="btn btn-success seeking-tag">startup</button>
              <button class="btn btn-success seeking-tag">iOS</button>
              <button class="btn btn-success seeking-tag">Mobile Apps</button>
              <button class="btn btn-success seeking-tag">Entrepreneurship</button>
              <button class="btn btn-success seeking-tag">Finance</button>
              <button class="btn btn-success seeking-tag">Ecommerce</button>
              <button class="btn btn-success seeking-tag">Product Design</button>
              <button class="btn btn-success seeking-tag">Investor</button>
              <button class="btn btn-success seeking-tag">Marketing</button>

            </div>
          </div>
        </div>
      </div>

    </div>



  </div>
</div> <!--Matches-->

<div  class="tab-pane fade" id="jobs">
 <div class="row">

  <div class="col-sm-6 post-job">
    <div class="col-sm-12 header" style="margin-bottom: 5px;"> <div class="col-sm-10"><h6 class="header-title">Location</h6></div></div>
    <div class="row">
      <div class="col-sm-12 text-input">
        <input placeholder="New York, NY">
      </div>
    </div>
  </div>

  <div class="col-sm-6 post-job">
    <div class="col-sm-12 header" style="margin-bottom: 5px;"> <div class="col-sm-10"><h6 class="header-title">Headline</h6></div></div>
    <div class="row">
      <div class="col-sm-12 text-input">
        <textarea class="placeholder4"></textarea>
      </div>
    </div>
  </div>


  <div class="col-sm-6 post-job">
    <div class="row">
      <div class="col-sm-12" style="text-align: center;">
        <h3>What <h2 style="color: rgb(150, 205, 128);">INDUSTRY</h2></h3> <h3>is your company in?</h3>
      </div>
    </div>
  </div>


  <div class="col-sm-6 post-job">
    <div class="col-sm-12 header" style="margin-bottom: 5px;"> <div class="col-sm-10"><h6 class="header-title">Industry</h6></div></div>
    <div class="row">
      <div class="col-sm-12 text-input">
        <input>
      </div>
    </div>
  </div>

  <div class="col-sm-6 post-job">
    <div class="col-sm-12 header" style="margin-bottom: 5px;"> <div class="col-sm-10"><h6 class="header-title">Job Description</h6></div></div>
    <div class="row">
      <div class="col-sm-12 text-input">
        <input>
      </div>
    </div>
  </div>

  <div class="col-sm-6 post-job">
    <div class="col-sm-12 header" style="margin-bottom: 5px;"> <div class="col-sm-10"><h6 class="header-title">Salary Range</h6></div></div>
    <div class="row">
      <div class="col-sm-12 text-input">
        <input>
      </div>
    </div>
  </div>

</div>
</div> <!--jobs-->
</div> <!-- tab-content -->

</div>
</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
    <script type="text/javascript">

    $("#closechat").click(function() {
      $("div.chatbox").toggleClass( "close-chat");
    });

    $("#chatmessage").click(function() {
      $("div.chatbox").removeClass( "close-chat");

    });

    $(".chat-header").click(function() {
      $("div.chatbox").toggleClass( "minimize-chat");
      $("div.chatter-wrap").toggleClass( "close-chat");
    });

    var observe;
    if (window.attachEvent) {
      observe = function (element, event, handler) {
        element.attachEvent('on'+event, handler);
      };
    }
    else {
      observe = function (element, event, handler) {
        element.addEventListener(event, handler, false);
      };
    }
    function init () {
      var text = document.getElementById('chatwrite');
      function resize () {
        text.style.height = 'auto';
        text.style.height = text.scrollHeight+'px';
      }
      /* 0-timeout to get the already changed text */
      function delayedResize () {
        window.setTimeout(resize, 0);
      }
      observe(text, 'change',  resize);
      observe(text, 'cut',     delayedResize);
      observe(text, 'paste',   delayedResize);
      observe(text, 'drop',    delayedResize);
      observe(text, 'keydown', delayedResize);

      text.focus();
      text.select();
      resize();
    }

    init();

    </script>
    <script type="text/javascript">
// var placeholder = 'This is a line \nthis should be a new line';
// $('textarea.placeholder4').attr('value', placeholder);

// $('textarea').focus(function(){
//     if($(this).val() === placeholder){
//         $(this).val('')
//                .removeClass('placeholder4');
//     }
// });

// $('textarea').blur(function(){
//     if($(this).val() ===''){
//         $(this).val(placeholder)
//                .addClass('placeholder4');
//     }    
// });

// $('textarea').val(placeholder);
</script>
</body>
</html>
