@import 'colors'
@import 'layout'

border-color = color-grey-30
edit-btn-height = 36px


.edit-row
  height 100px

  input
    border-bottom 1px dotted color-grey-80

  &:first-child
    >.edit-col
      border-top 1px solid border-color

  >.edit-col
    height 100%
    border-bottom 1px solid border-color

    &:first-child
      border-right 1px solid border-color

    @media (min-width: screen-sm-min)

      &:first-child
        border-left 1px solid border-color

      &:last-child
        border-right 1px solid border-color

@media (max-width: screen-xs-max)
  // Fix the edit button along the bottom
  .edit-submit-btn
    position fixed
    bottom 0
    height edit-btn-height

  // Adjust form container to clear the submit button
  .edit-form
    height 'calc(100% - %s)' % edit-btn-height
    bottom edit-btn-height
    overflow-y auto
    -webkit-overflow-scrolling auto

.edit-quote
  position absolute
  left -.5em
  top 0

.edit-sub-row
  line-height 1.8em
  height 33.33%

  &:last-child
    border-bottom none

  .input-date
    text-align center
    width 20%

    &.ng-invalid-min,
    &.ng-invalid-max,
    &.ng-invalid-number
      color red
      border-bottom 1px solid red

.edit-form .edit-page-header
  color color-white
  background-color color-grey-50

button.edit-page-btn
  display block
  height 100%

.edit-add-btn
  width 100%
  background color-white
  border-bottom 1px solid border-color
  border-left none
  border-right none
  border-top none

  @media (min-width: screen-sm-min)
    border-left 1px solid border-color
    border-right 1px solid border-color

.edit-delete-btn
  position absolute
  top .5em
  left .5em

  &:hover
    cursor pointer
