@import 'colors'

.user-coffee-card
  padding 1em 0 0 0
  background-color color-people-50

  .tags-container
    background-color color-people-55

.tags-container
  margin-top 20px
  height 2em

.tag-octothorpe
  float left
  height 100%
  padding 0px 6px
  font-size 1.5em
  background-color color-people
  border-right 1px solid color-grey-80

