@import 'colors'

.user-experience-list,
.user-education-list,
.education-data-list,
.experience-data-list
  list-style-type none
  margin 0
  padding 0

.user-coffee-card
  padding 1em 0 0 0


/*
 * User's tags
 */

.tags-container
  margin-top 20px
  height 2em

.tag-octothorpe
  float left
  height 100%
  padding 0px 6px
  font-size 1.5em
  border-right 1px solid color-grey-80


/*
 * Palette variations
 */

.palette-0

  .user-coffee-card,
  &.user-coffee-card
    background-color color-green-3

  >.tags-container
    background-color color-green-3a

  .tag-octothorpe
    background-color color-green-3b

  .user-detail-tags-list > li
    border 1px solid color-green-3

.palette-1

  .user-coffee-card,
  &.user-coffee-card
    color color-white
    background-color color-green-1

  >.tags-container
    background-color color-green-1a

  .tag-octothorpe
    background-color color-green-1b

  .user-detail-tags-list > li
    border 1px solid color-green-1

.palette-2

  .user-coffee-card,
  &.user-coffee-card
    background-color color-grey-1

  >.tags-container
    background-color color-grey-1a

  .tag-octothorpe
    background-color color-grey-1b

  .user-detail-tags-list > li
    border 1px solid color-grey-1

.palette-3

  .user-coffee-card,
  &.user-coffee-card
    color color-white
    background-color color-green-2

  >.tags-container
    background-color color-green-2a

  .tag-octothorpe
    background-color color-green-2b

  .user-detail-tags-list > li
    border 1px solid color-green-2

.palette-4

  .user-coffee-card,
  &.user-coffee-card
    color color-white
    background-color color-grey-2

  >.tags-container
    background-color color-grey-2a

  .tag-octothorpe
    background-color color-grey-2b

  .user-detail-tags-list > li
    border 1px solid color-grey-2
