@import 'colors'
@import 'layout'

border-color = color-grey-80
edit-btn-height = 36px
card-quote-font-size = 3em
edit-mobile-header-height = 8em


@media (min-width: screen-sm-min)
  .edit-main
    margin-top 0
    padding-bottom 1em

.edit-page
  height 100%

.edit-row
  height 8em

  .uppercase
    font-size 1.15em

  input
    border-bottom 1px dotted color-grey-80

  >.edit-col,
  >.edit-add-btn
    height 100%

  >.edit-col:first-child
      border-right 1px solid border-color

@media (max-width: screen-xs-max)
  // Fix the edit button along the bottom
  .edit-submit-btn
    position fixed
    bottom 55px
    height edit-btn-height

  // Adjust form container to clear the submit button
  .edit-form
    top 0
    bottom edit-btn-height
    height 'calc(100% - %s)' % edit-btn-height
    overflow-y auto
    -webkit-overflow-scrolling auto

.edit-quote
  position relative
  left -.5em
  top 0

.edit-sub-row
  line-height 1.8em
  height 33.33%

  &:last-child
    border-bottom none

  .input-year,
  .input-month
    text-align center
    width 18%

    &.ng-invalid-min,
    &.ng-invalid-max,
    &.ng-invalid-number
      color red
      border-bottom 1px solid red

  .input-year
    width 23%

.edit-form .edit-page-header
  color color-white
  background-color color-grey-50

.row.edit-mobile-header
  height edit-mobile-header-height

.edit-mobile-page
  height 'calc(100% - %s)' % edit-mobile-header-height

  .row.white-bg
    border-bottom none

button.edit-page-btn
  display block
  height 100%

.edit-add-btn
  width 100%
  background color-white
  border none

.edit-delete-btn
  position absolute
  top .5em
  left .5em

  &:hover
    cursor pointer

.row.white-bg
  border-bottom none

  @media (min-width: screen-sm-min)
    &:first-child
      margin-top 1em

    &.headline-row
      margin-top 0
      height 17.5em

  &:last-child
    border-bottom 1px solid border-color

.tag-input-container
  padding-top 1em

.suggested-tags
  & > .row
    height 2em

    hr
      margin-top 1em
      margin-bottom 1em

  & > .detail-tags-list
    margin-top 1em
