@import 'colors'

.detail-edit-btn
  position absolute
  top 10px
  right 20px

.user-detail-sub-list > li
  line-height 1.5em

.position > span
  font-size 1.15em

.timespan > span,
.position > span
  color color-grey-50

/*
 * User's tags
 */

.tag-octothorpe
  float left
  height 100%
  padding 0px 6px
  font-size 1.5em
  border-right 1px solid color-grey-80


/*
 * Palette variations
 */

.palette-0

  .user-card,
  &.user-card
    background-color color-green-3

  >.tags-container
    background-color color-green-3a

  .tag-octothorpe
    background-color color-green-3b

  .user-detail-tags-list > li
    border 1px solid color-green-3b

  &.user > .match-card-avatar
    background-color color-green-3

.palette-1

  .user-card,
  &.user-card
    color color-white
    background-color color-green-1

  >.tags-container
    background-color color-green-1a

  .tag-octothorpe
    background-color color-green-1b

  .user-detail-tags-list > li
    border 1px solid color-green-1

  &.user > .match-card-avatar
    background-color color-green-1

.palette-2

  .user-card,
  &.user-card
    background-color color-grey-1

  >.tags-container
    background-color color-grey-1a

  .tag-octothorpe
    background-color color-grey-1b

  .user-detail-tags-list > li
    border 1px solid color-grey-1b

  &.user > .match-card-avatar
    background-color color-grey-1

.palette-3

  .user-card,
  &.user-card
    background-color color-green-2

  >.tags-container
    background-color color-green-2a

  .tag-octothorpe
    background-color color-green-2b

  .user-detail-tags-list > li
    border 1px solid color-green-2

  &.user > .match-card-avatar
    background-color color-green-2

.palette-4

  .user-card,
  &.user-card
    color color-white
    background-color color-grey-2

  >.tags-container
    background-color color-grey-2a

  .tag-octothorpe
    background-color color-grey-2b

  .user-detail-tags-list > li
    border 1px solid color-grey-2

  &.user > .match-card-avatar
    background-color color-grey-2

// No palette
.user-detail-tags-list > li
  border 1px solid color-grey-30
