<form ng-submit="saveChanges()">
  <div class="form-group ">
    <div>
      <label for="input-job-overview">Overview</label>
    </div>
    <div class="col-sm-12">
      <textarea type="text"
        id="input-job-overview"
        class="form-control"
        required
        placeholder="Critique various cheeses, manage team of tasters..."
        ng-model="job.overview">
    </textarea>
    </div>
    </br></br>
  </div>
  <div class="form-group ">
    <div>
      <label for="input-job-datePosted">Date Posted</label>
    </div>
    <div class="col-sm-4">
      <input type="text"
        id="input-job-datePosted"
        class="form-control" 
        ng-model="job.datePosted" 
        ng-required>
    </div>
    </br></br>
  </div>
  <div class="form-group ">
    <div>
      <label for="input-job-schedule">Employment Schedule</label>
    </div>
    <div class="col-sm-4">
      <input type="text"
        id="input-job-schedule"
        class="form-control"
        placeholder="Full-Time, Part-Time..."
        ng-model="job.schedule"/>
    </div>
    </br></br>
  </div>
  <div class="form-group ">
    <div>
      <label for="input-job-Salary">Salary</label>
    </div>
    <div class="col-sm-2">
      <input type="text"
        id="input-job-salaryMin"
        class="form-control"
        required
        placeholder="50,000"
        ng-model="job.salaryMin"/>
    </div>
    <div class="col-sm-2">
      <input type="text"
        id="input-job-salaryMax"
        class="form-control"
        required
        placeholder="100,000"
        ng-model="job.salaryMax"/>
    </div>
    </br></br>
  </div>
  <button type="submit" class="btn btn-primary">Save Changes</button>
</form> 