<form ng-submit='postJob()'>
  <h2 class="">Create New Opportunity</h2>
  <div class="form-group ">
    <div>
      <label for="input-job-title">Title*</label>
    </div>
    <div class="col-sm-4">
      <input type="text"
        id="input-job-title"
        class="form-control"
        required
        placeholder="Cheese Critic, Mall Cop..."
        data-ng-model="job.title"/>
    </div>
    </br></br>
  </div>

  <div class="form-group">
    <div>
      <label for="input-job-headline">Headline*</label>
    </div>
    <div class="col-sm-6">
      <input type="text"
        id="input-job-headline"
        class="form-control"
        required
        placeholder="Senior taster with ripening experience"
        data-ng-model="job.headline"/>
    </div>
    </br></br>
  </div>

  <div class="form-group ">
    <div>
      <label for="input-job-overview">Overview*</label>
    </div>
    <div class="col-sm-12">
      <textarea type="text"
        id="input-job-overview"
        class="form-control"
        required
        placeholder="Critique various cheeses, manage team of tasters..."
        data-ng-model="job.overview">
    </textarea>
    </div>
    </br></br>
  </div>

  <div class="form-group ">
    <div>
      <label for="input-job-location">Location*</label>
    </div>
    <div class="col-sm-4">
      <input type="text"
        id="input-job-location"
        class="form-control"
        required
        placeholder="Madison, WI"
        data-ng-model="job.location"/>
    </div>
    </br></br>
  </div>

  <div class="form-group ">
    <div>
      <label for="input-job-address">Address</label>
    </div>
    <div class="col-sm-6">
      <input type="text"
        id="input-job-address"
        class="form-control"
        placeholder="123 Cheese Lane, 098765"
        data-ng-model="job.address"/>
    </div>
    </br></br>
  </div>

  <div class="form-group ">
    <div>
      <label for="input-job-Salary">Salary*</label>
    </div>
    <div class="col-sm-2">
      <input type="number"
        id="input-job-salaryMin"
        class="form-control"
        required
        placeholder="50,000"
        data-ng-model="job.salaryMin"/>
    </div>
    <div class="col-sm-2">
      <input type="number"
        id="input-job-salaryMax"
        class="form-control"
        required
        placeholder="100,000"
        data-ng-model="job.salaryMax"/>
    </div>
    </br></br>
  </div>

  <div class="form-group ">
    <div>
      <label for="input-job-salaryCurrency">Salary Currency</label>
    </div>
    <div class="col-sm-4">
      <input type="text"
        id="input-job-salaryCurrency"
        class="form-control"
        placeholder="USD, CAD..."
        data-ng-model="job.salaryCurrency"/>  
    </div>
    </br></br>
  </div>

  <div class="form-group ">
    <div>
      <label for="input-job-schedule">Schedule</label>
    </div>
    <div class="col-sm-4">
      <input type="text"
        id="input-job-schedule"
        class="form-control"
        placeholder="Full-Time, Part-Time..."
        data-ng-model="job.schedule"/>
    </div>
    </br></br>
  </div>

  <div class="form-group ">
    <div>
      <label for="input-job-tags">Tags</label>
    </div>
    <div class="col-sm-8">
      <input type="text"
        id="input-job-tags"
        class="form-control"
        placeholder="Cheese, Engineer, Javascript..."
        data-ng-model="job.tags"/>
    </div>
    </br></br>
  </div>

  <div class="form-group ">
    <button type="submit"
      class="btn btn-primary">
      Submit
    </butt8n>
  </div>
</form>