<table st-table="jobsTable" class="table table-striped">
  <thead>
    <th class="form-group"> 
      <a type="submit"
        class="btn btn-primary"
        data-ui-sref="home.job.create">
        <span class="glyphicon glyphicon-plus"></span>
        New Opportunity
      </a>
    </th>
    <th></th>
    <th></th>
    <th>
      <input 
        st-search
        placeholder="Search" 
        class="input-sm form-control" 
        type="search"
      />
    </th>
  </thead>

  <thead>
    <th st-sort="title">Title</th>
    <th st-sort="company">Company</th>
    <th st-sort="datePosted">Date Posted</th>
    <th st-sort="numApplicants">Applicants</th>
  </thead>

  <tbody>
  <tr st-select-row="job" st-select-mode="multiple" ng-repeat="job in jobsTable">
    <td>
      <input type="checkbox" ng-model="job.selected"/>  
      {{job.title}}
    </td>
    <td>{{job.company}}</td>
    <td>{{job.datePosted}}</td>
    <td>{{job.numApplicants}}</td>
  </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="5" class="text-center">
        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="10"></div>
      </td>
    </tr>
  </tfoot>
</table>