<form class="edit-form user-edit-form"
  name="editForm"
  novalidate
  data-on-enter>
  <div class="row clear-margin height-100">
    <div class="col-sm-12 clear-padding edit-main height-100">

      <!-- Profile Edit navigation on mobile -->
      <div class="row edit-row clear-margin visible-xs-block edit-mobile-header text-center">
        <button class="col-xs-2 btn btn-default edit-page-btn"
          type="button"
          data-ng-click="previousPage()"
          data-ng-disabled="page <= 0">
          <i class="fa fa-caret-left fa-3x"
            data-ng-if="page > 0">
          </i>
        </button>
        <div class="col-xs-8 edit-page-header flex-center"
          data-ng-if="page === 0">
          <i class="ci ci-person-card ci-3x"></i>
          <span class="uppercase"
            data-ng-if="!isSetup">
            Profile Card
          </span>
          <span class="uppercase"
            data-ng-if="isSetup">
            Set up your profile with a few simple steps
          </span>
        </div>
        <div class="col-xs-8 edit-page-header flex-center"
          data-ng-if="page === 1">
          <i class="ci ci-person-card ci-3x"></i>
          <span class="uppercase"
            data-ng-if="!isSetup">
            Profile Card
          </span>
          <span class="uppercase"
            data-ng-if="isSetup">
            Describe yourself in {{ config.headlineCharLimit }} characters
          </span>
        </div>
        <div class="col-xs-8 edit-page-header flex-center"
          data-ng-if="page === 2">
          <span class="ci ci-suitcase ci-3x"></span>
          <span class="uppercase"
            data-ng-if="!isSetup">
            Experience
          </span>
          <span class="uppercase"
            data-ng-if="isSetup">
            Tell us about your professional experience
          </span>
        </div>
        <div class="col-xs-8 edit-page-header flex-center"
          data-ng-if="page === 3">
          <i class="ci ci-grad-cap fa-3x"></i>
          <span class="uppercase"
            data-ng-if="!isSetup">
            Education
          </span>
          <span class="uppercase"
            data-ng-if="isSetup">
            Tell us about your educational background
          </span>
        </div>
        <div class="col-xs-8 edit-page-header flex-center"
          data-ng-if="page === 4">
          <i class="fa fa-tags fa-2x"></i>
          <span class="uppercase"
            data-ng-if="!isSetup">
            Tags
          </span>
          <span class="uppercase"
            data-ng-if="isSetup">
            Pick or add up to {{ config.numRequiredTags }} tags for yourself
          </span>
        </div>
        <button class="col-xs-2 btn btn-default edit-page-btn"
          type="button"
          data-ng-click="nextPage()"
          data-ng-disabled="page >= 4">
          <i class="fa fa-caret-right fa-3x"
            data-ng-if="page < 4">
          </i>
        </button>
      </div>

      <div class="hidden-xs"
        data-ng-if="isSetup">
        <div class="row clear-margin white-bg height-100 welcome-row">
          <div class="col-xs-8 col-xs-offset-2 flex-center height-100">
            <p class="uppercase-2"><strong>Welcome {{ user.firstName }}!</strong></p>
            <p class="uppercase">Set up your profile with a few simple steps</p>
          </div>
        </div>
      </div>

      <!-- Headline -->
      <div class="edit-mobile-page"
        data-ng-class="{ 'hidden-xs': page !== 1 }">
        <div class="row headline-row clear-margin white-bg height-100">
          <div class="col-xs-8 col-xs-offset-2 flex-center-vert height-100">
            <i class="ci ci-quote edit-quote ci-3x"></i>
            <div>
              <textarea
                required
                name="headline"
                class="headline-text"
                placeholder="Driven professional with a background in..."
                maxlength="{{ config.headlineCharLimit }}"
                data-coffee-input
                data-msd-elastic
                data-ng-model="user.headline">
              </textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="row clear-margin edit-mobile-page"
        data-ng-class="{ 'hidden-xs': page === 1 }">
        <div class="col-sm-6 xs-clear-padding height-100"
          data-ng-class="{ 'hidden-xs': !(page === 0 || page === 4) }">

          <!-- Profile Detail -->
          <div data-ng-class="{ 'hidden-xs': page !== 0 }">
            <div class="row edit-row xs-clear-margin white-bg half-margin-right">
              <div class="col-xs-4 edit-col flex-center">
                <img class="rounded"
                  alt="user img"
                  data-alt-img="{{ user.picture }}"
                  data-fail-img="/images/silhouette.png"/>
              </div>
              <div class="col-xs-8 edit-col">
                <div class="row height-50">
                  <div class="col-xs-12 flex-center-vert">
                    <div>
                      <input type="text"
                        name="firstName"
                        required
                        data-coffee-input
                        placeholder="First"
                        data-ng-model="user.firstName" />
                    </div>
                  </div>
                </div>
                <div class="row height-50">
                  <div class="col-xs-12 flex-center-vert">
                    <div>
                      <input type="text"
                        name="lastName"
                        required
                        data-coffee-input
                        placeholder="Last"
                        data-ng-model="user.lastName" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row edit-row xs-clear-margin white-bg half-margin-right">
              <div class="col-xs-4 edit-col flex-center">
                <i class="ci ci-map-marker ci-3x"></i>
                <div class="uppercase">Location</div>
              </div>
              <div class="col-xs-8 edit-col flex-center-vert">
                <div>
                  <input type="text"
                    name="location"
                    required
                    data-coffee-input
                    placeholder="Location"
                    data-ng-model="user.location" />
                </div>
              </div>
            </div>
            <div class="row edit-row xs-clear-margin white-bg half-margin-right">
              <div class="col-xs-4 edit-col flex-center">
                <i class="ci ci-suitcase ci-3x"></i>
                <div class="uppercase">Position</div>
              </div>
              <div class="col-xs-8 edit-col flex-center-vert">
                <div>
                  <input type="text"
                    name="position"
                    required
                    data-coffee-input
                    placeholder="Position"
                    data-ng-model="user.position" />
                </div>
              </div>
            </div>
            <div class="row edit-row xs-clear-margin white-bg half-margin-right">
              <div class="col-xs-4 edit-col flex-center">
                <i class="ci ci-building ci-3x"></i>
                <div class="uppercase">Company</div>
              </div>
              <div class="col-xs-8 edit-col flex-center-vert">
                <div>
                  <input type="text"
                    name="organization"
                    required
                    data-coffee-input
                    placeholder="Organization"
                    data-ng-model="user.organization" />
                </div>
              </div>
            </div>
          </div>

          <!-- Tags -->
          <div class="uppercase height-100"
            data-ng-class="{ 'hidden-xs': page !== 4 }">
            <div class="row xs-clear-margin white-bg half-margin-right height-100">
              <div class="col-xs-12 tag-input-container">
                <input class="text-center form-control"
                  name="tag"
                  type="text"
                  placeholder="add tag"
                  data-ng-model="newTag"
                  data-coffee-input
                  data-mintags="{{ user.tags.length }}"
                  data-on-enter='addTag(user, newTag)'/>
              </div>

              <!-- User's tags -->
              <div class="col-xs-12 clear-padding">
                <ul class="detail-tags-list user-detail-tags-list">
                  <li class="text-center t-tag"
                    data-ng-repeat="tag in user.tags"
                    data-ng-click="deleteTag(user, $index)">
                    <span class="fa-stack fa-2x tag-delete-btn"
                      data-ng-click="deleteTag(user, $index)">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-times fa-stack-1x fa-inverse"></i>
                    </span>
                    <span>{{ tag }}</span>
                  </li>
                </ul>
              </div>

              <!-- Suggested Tags -->
              <div class="col-xs-12 clear-padding suggested-tags">
                <div class="row clear-margin">
                  <div class="col-xs-4 clear-padding col-xs-offset-1">
                    <hr/>
                  </div>
                  <div class="col-xs-2 clear-padding uppercase flex-center">
                    Or Pick
                  </div>
                  <div class="col-xs-4 clear-padding">
                    <hr/>
                  </div>
                </div>
                <ul class="detail-tags-list user-detail-tags-list">
                  <li class="text-center"
                    data-ng-repeat="tag in suggestedTags"
                    data-ng-click="addTag(user, tag)">
                    <span>{{ tag }}</span>
                  </li>
                </ul>
              </div>

            </div>
          </div>

        </div>
        <div class="col-sm-6 xs-clear-padding"
          data-ng-class="{ 'hidden-xs': !(page === 2 || page === 3) }">

          <!-- Experience Detail -->
          <div data-ng-class="{ 'hidden-xs': page !== 2 }">
            <div class="row edit-row xs-clear-margin white-bg half-margin-left"
              data-ng-repeat="experience in user.experiences">
              <div class="col-xs-3 edit-col flex-center">
                <i class="ci ci-x-circle edit-delete-btn t-delete-experience-btn"
                  data-ng-click="deleteExeperience(user, $index)">
                </i>
                <div class="uppercase">{{ $index + 1 }}</div>
              </div>
              <div class="col-xs-9 edit-col t-experience">
                <div class="row edit-sub-row">
                  <div class="col-xs-12">
                    <input type="text"
                      name="organizationExperience{{$index}}"
                      required
                      data-coffee-input
                      placeholder="Organization"
                      data-ng-model="experience.organization" />
                  </div>
                </div>
                <div class="row edit-sub-row">
                  <div class="col-xs-12">
                    <input type="text"
                      name="positionExperience{{$index}}"
                      required
                      data-coffee-input
                      placeholder="Position"
                      data-ng-model="experience.position" />
                  </div>
                </div>
                <div class="row edit-sub-row">
                  <div class="col-xs-12">
                    <input type="number"
                      name="startMonthExperience{{$index}}"
                      class="input-month"
                      required
                      min="1"
                      max="12"
                      placeholder="MM"
                      ng-model="experience._startMonth" />
                    <span>/</span>
                    <input type="number"
                      name="startYearExperience{{$index}}"
                      class="input-year"
                      required
                      min="1900"
                      max="2100"
                      placeholder="YYYY"
                      ng-model="experience._startYear" />
                    <span>&ndash;</span>
                    <input type="number"
                      name="endMonthExperience{{$index}}"
                      class="input-month"
                      min="1"
                      max="12"
                      placeholder="MM"
                      ng-model="experience._endMonth" />
                    <span>/</span>
                    <input type="number"
                      name="endYearExperience{{$index}}"
                      class="input-year"
                      min="1900"
                      max="2100"
                      placeholder="YYYY"
                      ng-model="experience._endYear" />
                  </div>
                </div>
              </div>
            </div>
            <div class="row edit-row xs-clear-margin half-margin-left white-bg"
              data-ng-if="canAddExperience(user)">
              <button class="edit-add-btn edit-page-btn t-add-experience-btn"
                type="button"
                data-ng-click="addExperience(user)">
                <i class="ci ci-plus ci-3x"></i>
                <div class="uppercase">Add Experience</div>
              </button>
            </div>
          </div>

          <!-- Education Detail -->
          <div data-ng-class="{ 'hidden-xs': page !== 3 }">
            <div class="row edit-row xs-clear-margin white-bg half-margin-left"
              data-ng-repeat="education in user.educations">
              <div class="col-xs-3 edit-col flex-center">
                <i class="ci ci-x-circle edit-delete-btn t-delete-education-btn"
                  data-ng-click="deleteEducation(user, $index)">
                </i>
                <div class="uppercase">{{ $index + 1 }}</div>
              </div>
              <div class="col-xs-9 edit-col t-education">
                <div class="row edit-sub-row">
                  <div class="col-xs-12">
                    <input type="text"
                      name="schoolEducation{{$index}}"
                      required
                      placeholder="School"
                      data-coffee-input
                      data-ng-model="education.school" />
                  </div>
                </div>
                <div class="row edit-sub-row">
                  <div class="col-xs-12">
                    <input type="text"
                      name="majorEducation{{$index}}"
                      required
                      placeholder="Major"
                      data-coffee-input
                      data-ng-model="education.major" />
                  </div>
                </div>
                <div class="row edit-sub-row">
                  <div class="col-xs-12">
                    <input type="number"
                      name="startMonthEducation{{$index}}"
                      class="input-month"
                      required
                      min="1"
                      max="12"
                      placeholder="MM"
                      ng-model="education._startMonth" />
                    <span>/</span>
                    <input type="number"
                      name="startYearEducation{{$index}}"
                      class="input-year"
                      required
                      min="1900"
                      max="2100"
                      placeholder="YYYY"
                      ng-model="education._startYear" />
                    <span>&ndash;</span>
                    <input type="number"
                      name="endMonthEducation{{$index}}"
                      class="input-month"
                      min="1"
                      max="12"
                      placeholder="MM"
                      ng-model="education._endMonth" />
                    <span>/</span>
                    <input type="number"
                      name="endYearEducation{{$index}}"
                      class="input-year"
                      min="1900"
                      max="2100"
                      placeholder="YYYY"
                      ng-model="education._endYear" />
                  </div>
                </div>
              </div>
            </div>
            <div class="row edit-row xs-clear-margin half-margin-left white-bg"
              data-ng-if="canAddEducation(user)">
              <button class="edit-add-btn edit-page-btn t-add-education-btn"
                type="button"
                data-ng-click="addEducation(user)">
                <i class="ci ci-plus ci-3x"></i>
                <div class="uppercase">Add Education</div>
              </button>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

  <!-- Submit Button -->
  <div class="row clear-margin">
    <div class="clear-padding">

      <button type="submit"
        class="btn btn-default btn-block edit-submit-btn"
        data-ng-click="save(user)"
        data-ng-if="!(isMobile && isSetup && page < 4)">
        <span data-ng-if="
          !(editForm.$submitted &&
            (editForm.$error.required ||
             editForm.$error.mintags))">
          Save &amp; Finish
        </span>
        <span data-ng-if="
          editForm.$submitted &&
          (editForm.$error.required ||
           editForm.$error.mintags)">
          Oops, you may have missed something!
        </span>
      </button>

      <button type="submit"
        class="btn btn-default btn-block edit-submit-btn"
        data-ng-click="nextPage()"
        data-ng-if="isMobile && isSetup && page < 4">
        <span>Next</span>
      </button>
    </div>
  </div>
</form>
