<div class="text-center palette-{{ palette }}">
  <div class="user-card">
    <a data-ui-sref="shell.user.detail.edit({ id: user._id, palette: palette })"
      data-ng-if="isEditable(user)">
      <i class="edit-user-btn ci ci-edit ci-lg"></i>
    </a>
    <img class="rounded"
      alt="user img"
      data-ng-src="{{ user.picture }}"/>
    <div class="quote">{{ user.headline }}</div>
    <div class="uppercase">{{ user.firstName }} {{ user.lastName }}</div>
    <div>
      <span class="uppercase">{{ user.position }} @
      <strong>{{ user.organization }}</strong> |
      {{ user.locations[0] }}
      </span>
    </div>
  </div>

  <div class="row xs-clear-margin">
    <div class="col-xs-8 col-xs-offset-2">
      <h2 class="header uppercase"><strong>Experience</strong></h2>
      <ul class="user-detail-list">
        <li data-ng-repeat="experience in user.experiences">
          <ul>
            <li><strong>{{ experience.organization }}</strong></li>
            <li class="uppercase">{{ experience.position }}</li>
            <li>
              <span>
                {{ experience.startTime | date:'MMMM yyyy':'UTC'}}
              </span>
              <span data-ng-if="experience.startTime && experience.endTime">
                &ndash;
              </span>
              <span data-ng-if="experience.endTime">
                {{ experience.endTime | date:'MMMM yyyy':'UTC'}}
              </span>
              <span data-ng-if="!experience.endTime">
                Present
              </span>
            </li>
          </ul>
        </li>
      </ul>

      <h2 class="header uppercase"><strong>Education</strong></h2>
      <ul class="user-detail-list">
        <li data-ng-repeat="education in user.educations">
          <ul>
            <li><strong>{{ education.school }}</strong></li>
            <li>{{ education.degree }} {{ education.major }}</li>
            <li>
              <span>
                {{ education.startTime | date:'MMMM yyyy':'UTC'}}
              </span>
              <span data-ng-if="education.startTime && education.endTime">
                &ndash;
              </span>
              <span data-ng-if="education.endTime">
                {{ education.endTime | date:'MMMM yyyy':'UTC'}}
              </span>
              <span data-ng-if="!education.endTime">
                Present
              </span>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <!-- Tags -->
  <ul class="detail-tags-list user-detail-tags-list">
    <li data-ng-repeat="tag in user.tags">
      <span>{{ tag }}</span>
    </li>
  </ul>
</div>
