<div class="card-shadow user-card text-center palette-{{ model._palette }}"
  data-ui-sref=".user.detail({ id: model._id, palette: model._palette })"
  data-ng-swipe-right="cardLike({ $event: $event, model: model })"
  data-ng-swipe-left="cardAskDelete({ $event: $event, model: model })">

  <div class="card-states"
    data-ng-if="model._state"
    data-ng-include="'modules/common/partials/coffee-card-states.html'">
  </div>

  <!-- Mobile Card -->
  <div class="visible-xs-block">
    <div class="card-main {{ model._cssClass }}">

      <div class="card-img-container">
        <div class="flex-center">
          <img class="rounded"
            alt="user img"
            data-alt-img="{{ model.picture }}"/>
        </div>
      </div>

      <div class="card-quote">
        <div class="flex-center-vert">
          {{ model.headline }}
        </div>
      </div>

      <div class="card-main-text">
        <div class="flex-center-vert">
          <div class="uppercase">{{ model.name }}</div>
          <div>
            <span class="uppercase">{{ model.position }} @
            <strong>{{ model.organization }}</strong> |
            {{ model.locations[0] }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Non-mobile card -->
  <div class="hidden-xs">

    <div class="card-main {{ model._cssClass }}">

    <div class="card-main-top">
      <div class="quote flex-center-vert">
        <i class="ci ci-quote edit-quote"></i>
        <div class="headline-text">{{ model.headline }}</div>
      </div>
    </div>

    <div class="card-main-center">

      <button class="btn btn-transparent btn-dislike"
        data-ng-click="cardAskDelete({ $event: $event, model: model })">
        <span class="fa-stack fa-2x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-times fa-stack-1x fa-inverse"></i>
        </span>
      </button>
      <img class="rounded"
        alt="user img"
        data-alt-img="{{ model.picture }}"/>
      <button class="btn btn-transparent btn-like"
        data-ng-click="cardLike({ $event: $event, model: model })">
        <span class="fa-stack fa-2x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-check fa-stack-1x"></i>
        </span>
      </button>

      <div class="card-main-text flex-center-vert">
        <div class="uppercase">{{ model.name }}</div>
        <div>
          <span class="uppercase">{{ model.position }} @
          <strong>{{ model.organization }}</strong> |
          {{ model.locations[0] }}
          </span>
        </div>
      </div>
    </div>
    </div>
  </div>

  <div class="tags-container {{ model._cssClass }}">
    <div class="tag-octothorpe">#</div>
    <ul class="tags-list">
      <li class="uppercase"
        data-ng-repeat="tag in model.tags | limitTo:3">
        <div>{{ tag }}</div>
      </li>
    </ul>
  </div>
</div>
