<form class="container edit-form user-edit-form"
  name="editForm"
  onsubmit="return false;"
  novalidate>
  <div class="row xs-clear-margin">
    <div class="col-sm-8 col-sm-offset-2 xs-clear-padding">

      <!-- Profile Edit navigation on mobile -->
      <div class="row edit-row xs-clear-margin visible-xs-block">
        <button class="col-xs-2 btn btn-default edit-page-btn"
          data-ng-click="previousPage()"
          data-ng-disabled="page <= 0">
          <i class="fa fa-caret-left fa-3x"
            data-ng-if="page > 0">
          </i>
        </button>
        <div class="col-xs-8 edit-page-header flex-center"
          data-ng-if="page === 0">
          <i class="ci ci-person-card ci-3x"></i>
          <span class="uppercase">Profile Card</span>
        </div>
        <div class="col-xs-8 edit-page-header flex-center"
          data-ng-if="page === 1">
          <i class="ci ci-person-card ci-3x"></i>
          <span class="uppercase">Profile Card</span>
        </div>
        <div class="col-xs-8 edit-page-header flex-center"
          data-ng-if="page === 2">
          <span class="ci ci-suitcase ci-3x"></span>
          <span class="uppercase">Experience</span>
        </div>
        <div class="col-xs-8 edit-page-header flex-center"
          data-ng-if="page === 3">
          <i class="ci ci-grad-cap fa-3x"></i>
          <span class="uppercase">Education</span>
        </div>
        <div class="col-xs-8 edit-page-header flex-center"
          data-ng-if="page === 4">
          <i class="fa fa-tags fa-2x"></i>
          <span class="uppercase">Tags</span>
        </div>
        <button class="col-xs-2 btn btn-default edit-page-btn"
          data-ng-click="nextPage()"
          data-ng-disabled="page >= 4">
          <i class="fa fa-caret-right fa-3x"
            data-ng-if="page < 4">
          </i>
        </button>
      </div>

      <!-- Profile Detail -->
      <div data-ng-class="{ 'hidden-xs': page !== 0 }">
        <div class="row edit-row xs-clear-margin">
          <div class="col-xs-4 col-sm-3 col-sm-offset-2 edit-col flex-center">
            <img class="rounded"
            alt="user img"
            data-ng-src="{{ user.picture }}"/>
          </div>
          <div class="col-xs-8 col-sm-5 edit-col">
            <div class="row height-50">
              <div class="col-xs-12 flex-center-vert">
                <input type="text"
                  name="firstName"
                  required
                  data-coffee-input
                  placeholder="First"
                  data-ng-model="user.firstName" />
              </div>
            </div>
            <div class="row height-50">
              <div class="col-xs-12 flex-center-vert">
                <input type="text"
                  name="lastName"
                  required
                  data-coffee-input
                  placeholder="Last"
                  data-ng-model="user.lastName" />
              </div>
            </div>
          </div>
        </div>
        <div class="row edit-row xs-clear-margin">
          <div class="col-xs-4 col-sm-3 col-sm-offset-2 edit-col flex-center">
            <i class="ci ci-map-marker ci-3x"></i>
            <div class="uppercase">Location</div>
          </div>
          <div class="col-xs-8 col-sm-5 edit-col flex-center-vert">
            <input type="text"
              name="location"
              required
              data-coffee-input
              placeholder="Location"
              data-ng-model="user.location" />
          </div>
        </div>
        <div class="row edit-row xs-clear-margin">
          <div class="col-xs-4 col-sm-3 col-sm-offset-2 edit-col flex-center">
            <i class="ci ci-suitcase ci-3x"></i>
            <div class="uppercase">Position</div>
          </div>
          <div class="col-xs-8 col-sm-5 edit-col flex-center-vert">
            <input type="text"
              name="position"
              required
              data-coffee-input
              placeholder="Postiion"
              data-ng-model="user.position" />
          </div>
        </div>
        <div class="row edit-row xs-clear-margin">
          <div class="col-xs-4 col-sm-3 col-sm-offset-2 edit-col flex-center">
            <i class="ci ci-building ci-3x"></i>
            <div class="uppercase">Company</div>
          </div>
          <div class="col-xs-8 col-sm-5 edit-col flex-center-vert">
            <input type="text"
              name="organization"
              required
              data-coffee-input
              placeholder="Organization"
              data-ng-model="user.organization" />
          </div>
        </div>
      </div>

      <hr class="hidden-xs">

      <!-- Headline -->
      <div data-ng-class="{ 'hidden-xs': page !== 1 }">
        <div class="row edit-row xs-clear-margin">
          <div class="col-xs-8 col-xs-offset-2 flex-center-vert">
            <i class="ci ci-quote edit-quote ci-3x"></i>
            <textarea
              name="headline"
              placeholder="Driven professional with a background in..."
              maxlength="140"
              data-coffee-input
              data-msd-elastic
              data-ng-model="user.headline">
            </textarea>
          </div>
        </div>
      </div>

      <hr class="hidden-xs">

      <!-- Experience Detail -->
      <div data-ng-class="{ 'hidden-xs': page !== 2 }">
        <div class="row edit-row xs-clear-margin"
          data-ng-repeat="experience in user.experiences">
          <div class="col-xs-4 col-sm-3 col-sm-offset-2 edit-col flex-center">
            <i class="ci ci-x-circle edit-delete-btn"
              data-ng-click="deleteExeperience(user, $index)">
            </i>
            <div class="uppercase">{{ $index + 1 }}</div>
          </div>
          <div class="col-xs-8 col-sm-5 edit-col">
            <div class="row edit-sub-row">
              <div class="col-xs-12">
                <input type="text"
                  name="organizationExperience{{$index}}"
                  required
                  data-coffee-input
                  placeholder="Organization"
                  data-ng-model="experience.organization" />
              </div>
            </div>
            <div class="row edit-sub-row">
              <div class="col-xs-12">
                <input type="text"
                  name="positionExperience{{$index}}"
                  required
                  data-coffee-input
                  placeholder="Position"
                  data-ng-model="experience.position" />
              </div>
            </div>
            <div class="row edit-sub-row">
              <div class="col-xs-12">
                <input type="number"
                  class="input-date"
                  required
                  min="1"
                  max="12"
                  placeholder="MM"
                  ng-model="experience._startMonth" />
                <span>/</span>
                <input type="number"
                  class="input-date"
                  required
                  min="1900"
                  max="2100"
                  placeholder="YYYY"
                  ng-model="experience._startYear" />
                <span>&ndash;</span>
                <input type="number"
                  class="input-date"
                  min="1"
                  max="12"
                  placeholder="MM"
                  ng-model="experience._endMonth" />
                <span>/</span>
                <input type="number"
                  class="input-date"
                  min="1900"
                  max="2100"
                  placeholder="YYYY"
                  ng-model="experience._endYear" />
              </div>
            </div>
          </div>
        </div>
        <div class="row edit-row xs-clear-margin"
          data-ng-if="canAddExperience(user)">
          <button class="col-sm-8 col-sm-offset-2 edit-add-btn edit-page-btn"
            data-ng-click="addExperience(user)">
            <i class="ci ci-plus ci-3x"></i>
            <div class="uppercase">Add Experience</div>
          </button>
        </div>
      </div>

      <hr class="hidden-xs">

      <!-- Education Detail -->
      <div data-ng-class="{ 'hidden-xs': page !== 3 }">
        <div class="row edit-row xs-clear-margin"
          data-ng-repeat="education in user.educations">
          <div class="col-xs-4 col-sm-3 col-sm-offset-2 edit-col flex-center">
            <i class="ci ci-x-circle edit-delete-btn"
              data-ng-click="deleteEducation(user, $index)">
            </i>
            <div class="uppercase">{{ $index + 1 }}</div>
          </div>
          <div class="col-xs-8 col-sm-5 edit-col">
            <div class="row edit-sub-row">
              <div class="col-xs-12">
                <input type="text"
                  name="schoolEducation{{$index}}"
                  required
                  placeholder="School"
                  data-coffee-input
                  data-ng-model="education.school" />
              </div>
            </div>
            <div class="row edit-sub-row">
              <div class="col-xs-12">
                <input type="text"
                  name="majorEducation{{$index}}"
                  required
                  placeholder="Major"
                  data-coffee-input
                  data-ng-model="education.major" />
              </div>
            </div>
            <div class="row edit-sub-row">
              <div class="col-xs-12">
                <input type="number"
                  class="input-date"
                  required
                  min="1"
                  max="12"
                  placeholder="MM"
                  ng-model="education._startMonth" />
                <span>/</span>
                <input type="number"
                  class="input-date"
                  required
                  min="1900"
                  max="2100"
                  placeholder="YYYY"
                  ng-model="education._startYear" />
                <span>&ndash;</span>
                <input type="number"
                  class="input-date"
                  min="1"
                  max="12"
                  placeholder="MM"
                  ng-model="education._endMonth" />
                <span>/</span>
                <input type="number"
                  class="input-date"
                  min="1900"
                  max="2100"
                  placeholder="YYYY"
                  ng-model="education._endYear" />
              </div>
            </div>
          </div>
        </div>
        <div class="row edit-row xs-clear-margin"
          data-ng-if="canAddEducation(user)">
          <button class="col-sm-8 col-sm-offset-2 edit-add-btn edit-page-btn"
            data-ng-click="addEducation(user)">
            <i class="ci ci-plus ci-3x"></i>
            <div class="uppercase">Add Education</div>
          </button>
        </div>
      </div>

      <hr class="hidden-xs">

      <!-- Tags -->
      <div class="uppercase" data-ng-class="{ 'hidden-xs': page !== 4 }">
        <div class="row xs-clear-margin">
          <div class="col-sm-8 col-sm-offset-2 clear-padding">
            <input class="text-center form-control"
              type="text"
              placeholder="add tag"
              data-ng-model="newTag"
              data-ui-keypress="{13:'addTag(user, newTag)'}"/>
          </div>
          <div class="col-sm-8 col-sm-offset-2 clear-padding">
            <ul class="detail-tags-list user-detail-tags-list">
              <li class="text-center"
                data-ng-repeat="tag in user.tags"
                data-ng-click="deleteTag(user, $index)">
                <span>{{ tag }}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Submit Button -->
  <button type="submit"
    class="btn btn-default btn-block edit-submit-btn"
    data-ng-click="save(user)">
    <span data-ng-if="!(editForm.$error.required && editForm.$submitted)">
      Save &amp; Finish
    </span>
    <span data-ng-if="editForm.$error.required && editForm.$submitted">
      Oops, you may have missed something!
    </span>
  </button>
</form>
