@import 'colors'

.user-card,
.opportunity-card
  position relative
  height 200px

// Is already liked checkmark
.feed-is-liked
  display block
  position absolute
  top .25em
  left .25em

/*
 * Like button (i.e. coffee mug)
 */

.btn-like
  visibility hidden
  position absolute
  top .5em
  right .5em

// Display like button when hovering
@media (min-width: 768px)
  .card-shadow:hover
    .btn-like
      visibility visible


/*
 * Sliding effect on a Like / Delete action
 */

.card-shadow
  // Allows the slide left effect to be occulted by card dimensions
  overflow hidden

.card-main.like-slide,
.tags-container.like-slide
  animation-name like-slide
  animation-fill-mode forwards
  animation-duration .4s

@keyframes like-slide
  to
    padding-left 90%
    margin-right -90%
    opacity 0

.card-main.ask-delete-slide,
.tags-container.ask-delete-slide
  animation-name ask-delete-slide
  animation-fill-mode forwards
  animation-duration .4s

@keyframes ask-delete-slide
  to
    padding-right 90%
    margin-left -90%
    opacity 0


/*
 * Box shadow and hover cursor
 */

@media (min-width: 768px)
  // Box shadow and hover effect
  .card-shadow
    box-shadow 1px 1px 2px color-grey-50, -1px 1px 2px color-grey-50
    transition transform .1s ease

    &:hover
      box-shadow 2px 2px 2px color-grey-50, -2px 2px 2px color-grey-50
      transform scale(1.01)
      cursor pointer


/*
 * Tags
 */

.tags-container
  position absolute
  bottom 0
  margin-top 20px
  height 2em

@media (max-width: 767px)
  .tags-container
    width 100%

@media (min-width: 768px)
  .tags-container
    width 470px

@media (min-width: 992px)
  .tags-container
    width 455px

@media (min-width: 1200px)
  .tags-container
    width 360px

.tags-list
  font-size .8em
  line-height 2.4em
  height 100%
  display flex
  flex-direction row
  justify-content space-between

  li
    padding 0 1em
    border-left 1px solid color-grey-80

    &:first-child
      border-left none

    &:nth-child(even)
      flex-grow 2


/*
 * Inter-card margins
 */

@media (max-width: 767px)
  [data-coffee-card],
  [data-opportunity-post-card]
    margin-bottom 1px

@media (min-width: 768px)
  [data-coffee-card],
  [data-opportunity-post-card]
    margin-bottom 1em

