@import 'colors'
@import 'layout'

tags-height = 2em

img-height = 5em
card-quote-height = 17.5em
card-quote-font-size = 3em
card-main-text-height = 3em

card-img-container-height = 6.25em

img-height-xs = 3.75em
card-quote-height-xs = 7em
card-main-text-height-xs = 5.5em


.card-states
  position absolute
  width 100%
  height 100%
  z-index 9999

.card-img-container
  height card-img-container-height

  img.rounded
    border-radius 50%
    height img-height-xs
    width img-height-xs

.card-quote
  height card-quote-height-xs
  padding 0 3em

.card-main-text
  height card-main-text-height-xs


@media (min-width: screen-sm-min)
  .hidden-xs

    .card-main-center > img.rounded
        height img-height
        width img-height
        position relative
        top -2.5em

    .card-main-text
      height card-main-text-height
      position relative
      top -1.25em

  .card-main-top
    background-color color-white
    color color-text
    height 245px
    padding 0 4em
    line-height 1.5em

    i.edit-quote
      position relative
      left -1em
      text-align left
      font-size card-quote-font-size
      color color-grey-50

    .headline-text
      position relative
      top (-0.5*card-quote-font-size)


// Is already liked checkmark
.feed-is-liked
  display block
  position absolute
  top 1em
  left 2em


/*
 * Like button (i.e. coffee mug)
 */

.btn-like,
.btn-dislike
  font-size 3em
  visibility hidden
  position relative
  top -2.5em

  .fa-circle
    color color-bg

  .fa-check,
  .fa-times
    color color-text

// Display like button when hovering
@media (min-width: screen-sm-min)
  .card-shadow:hover
    .btn-like,
    .btn-dislike
      visibility visible


/*
 * Sliding effect on a Like / Delete action
 */

.card-shadow
  cursor pointer
  overflow hidden  // Allows the slide left effect to be occulted by card dimensions


.card-main.like-slide,
.tags-container.like-slide
  animation-name like-slide
  animation-fill-mode forwards
  animation-duration .4s

@keyframes like-slide
  to
    padding-left 90%
    margin-right -90%
    opacity 0

.card-main.ask-delete-slide,
.tags-container.ask-delete-slide
  animation-name ask-delete-slide
  animation-fill-mode forwards
  animation-duration .4s

@keyframes ask-delete-slide
  to
    padding-right 90%
    margin-left -90%
    opacity 0


/*
 * Tags
 */

.tags-container
  height tags-height

.tags-list
  font-size .8em
  height 100%
  display flex
  flex-direction row
  justify-content space-between

  .uppercase
    line-height 2.4em

  li
    padding 0 1em
    border-left 1px solid color-grey-80

    &:first-child
      border-left none

    &:nth-child(even)
      flex-grow 2


/*
 * Inter-card margins
 */

@media (max-width: screen-xs-max)
  [data-coffee-card],
  [data-opportunity-post-card]
    margin-bottom 1px

@media (min-width: screen-sm-min)
  [data-coffee-card],
  [data-opportunity-post-card]
    margin-bottom 1em

