@import 'layout'

/*
 * Styles for User & Opportunity detail views
 */

.detail-tags-list
  margin 2em 0
  padding 0 1em
  display flex
  flex-direction row
  justify-content space-between
  flex-wrap wrap

  >li
    position relative
    margin .25em .5em
    max-width 100%
    padding .6em
    flex-grow 1

    & > .tag-delete-btn
      font-size .6em
      position absolute
      visibility hidden
      right -.9em
      top -.9em

    &:hover > .tag-delete-btn
      visibility visible

form .detail-tags-list > li
  cursor pointer

.detail-container
  max-height 100%
  overflow-y auto

  @media (min-width: screen-sm-min)
    width detail-width
    margin auto

.detail-body
  margin 0 0 2em 0

.detail-header
  position relative
