@import 'layout'

/*
 * Styles for User & Opportunity detail views
 */

.detail-tags-list
  margin 2em 0
  padding 0 1em
  display flex
  flex-direction row
  justify-content space-between
  flex-wrap wrap

  // To compensate for the per-item margin below, we adjust the edges of the
  // entire tags container

  @media (min-width: screen-sm-min)
    margin-left -.5em
    margin-right -.5em

  >li
    flex-basis 30%
    margin .25em .5em
    padding .6em

    &:nth-child(even)
      flex-grow 2
