
@font-face
  font-family 'seravek-light'
  src url('../fonts/SeravekWebBasicLight.woff')

@font-face
  font-family 'seravek'
  src url('../fonts/SeravekWebBasicRegular.woff')

@font-face
  font-family 'seravek-italic'
  src url('../fonts/SeravekWebBasicRegularItalic.woff')

@font-face
  font-family 'seravek-medium'
  src url('../fonts/SeravekWebBasicMedium.woff')


body
  font-family 'seravek'

.headline
  font-family 'AvenirNextLTW02-Regular'

.uppercase,
.uppercase-2
  font-family 'seravek', Helvetica, sans-serif

strong
  font-family 'seravek-medium'

em
  font-family 'seravek-italic'
  letter-spacing .12em
  font-style normal

.light
  font-family 'seravek-light'
