
@font-face
  font-family 'seravek-light'
  src url('../fonts/SeravekWebBasicLight.eot')

@font-face
  font-family 'seravek'
  src url('../fonts/SeravekWebBasicRegular.eot')

@font-face
  font-family 'seravek-italic'
  src url('../fonts/SeravekWebBasicRegularItalic.eot')

@font-face
  font-family 'seravek-medium'
  src url('../fonts/SeravekWebBasicMedium.eot')

@font-face
  font-family 'seravek-light-woff'
  src url('../fonts/SeravekWebBasicLight.woff')

@font-face
  font-family 'seravek-woff'
  src url('../fonts/SeravekWebBasicRegular.woff')

@font-face
  font-family 'seravek-italic-woff'
  src url('../fonts/SeravekWebBasicRegularItalic.woff')

@font-face
  font-family 'seravek-medium-woff'
  src url('../fonts/SeravekWebBasicMedium.woff')


body
  font-family 'seravek', 'seravek-woff', sans-serif

.headline
  font-family 'AvenirNextLTW02-Regular'

.uppercase,
.uppercase-2
  font-family 'seravek', 'seravek-woff', Helvetica, sans-serif

strong
  font-family 'seravek-medium', 'seravek-medium-woff'
  font-weight normal

em
  font-family 'seravek-italic', 'seravek-italic-woff'
  letter-spacing .12em
  font-style normal

.light
  font-family 'seravek-light', 'seravek-light-woff'
