@import 'colors'
@import 'layout'

input,
textarea
  border none
  outline none
  background-color transparent
  width 100%

textarea
  resize none
  overflow hidden

button,
input
  -webkit-appearance none !important

button.btn:focus
  outline none

@media (max-width screen-xs-max)
  button.btn.btn.btn-default
    &:hover,
    &:focus
      box-shadow none
      background-color color-grey-50
      border-color transparent

button.btn
  text-transform uppercase

  &:disabled
    opacity 1
    color color-grey-50

button.btn.btn-transparent
  background-color transparent
  border none
  outline none
  color inherit

button.btn.btn-load-more
  height 4em
