@import 'colors'

input,
textarea
  border none
  outline none
  background-color transparent
  width 100%

textarea
  resize none

button,
input
  -webkit-appearance none !important

button.btn:focus
  outline none

@media (max-width 767px)
  button.btn.btn.btn-default
    &:hover,
    &:focus
      box-shadow none
      background-color color-grey-50
      border-color transparent

button.btn
  text-transform uppercase

  &.btn-default:disabled
    opacity 1
    color color-grey-30
