@import 'colors'

input
  border none
  outline none
  background-color transparent

button,
input
  -webkit-appearance none !important

button.btn
  text-transform uppercase

  &.btn-default:disabled
    opacity 1
    color color-grey-30
