@import 'colors'
@import 'layout'

img.logo
  width: 25%

.overlay-container,
.splash-container
  position fixed
  top 0
  bottom 0
  left 0
  right 0

.overlay-container
  z-index 9998

.splash-container
  z-index 9999


login-button-margin = .5em
login-button-height = 2.5em
login-button-total = login-button-margin*3 + login-button-height*2

.carousel-container
  height 'calc(100% - %s)' % login-button-total

  ul[rn-carousel]
    min-height 320px
    height 50%
    width 100%
    max-width screen-xs-max

    & > li.login-slide
      color color-white
      padding 0 25%

      & > .icon-container
        height 50%

.desktop-splash-container
  background color-white
  border-radius 1em
  max-height 400px
  max-width 400px
  height 50%
  width 50%

  .desktop-splash-logo
    height 45%
    img
      height 100%

  .desktop-splash-copy
    height 25%
    font-size 1.25em

  .desktop-splash-button-container
    height 30%
    width 65%
    margin auto

    & button
      width 100%

    & button:first-child
      margin-bottom .5em

button.btn.login-button
  width 'calc(100% - %s)' % (2*login-button-margin)
  margin login-button-margin
  height login-button-height
  color color-white
  border 1px solid color-white
