@import 'colors'

.modal-dialog > .modal-content,
.modal-content > .model-content-container
  opacity .75
  border none

.modal-content
  color color-grey-80

button.btn.btn-modal-check
  border-right 1px solid color-grey-80
