@import 'colors'
@import 'layout'

navbar-height = 55px

nav.navbar.navbar-fixed-top
  border none

ul.nav
  display flex
  flex-direction row
  justify-content space-between

  > li
    text-align center
    float left

ul.navbar-nav > li > a
  line-height 30px

  &.nav-active
    color color-green-2
    border-bottom 5px solid color-green-2

@media (max-width: screen-xs-max)
  ul.navbar-nav.nav
    margin 0

    > li
      width 25%

// Navbar is fixed so move down the main content
.main-content
  position absolute
  width 100%
  height 'calc(100% - %s)' % navbar-height
  top navbar-height
  overflow-y auto
  -webkit-overflow-scrolling touch

  // Make inner container relative so children of container can be absolute
  > .container
    position relative
    height 100%

  @media (min-width: screen-sm-min)
    padding-top 12px

// User profile icon
img.avatar
  height 30px
  width 30px
  border-radius 2px

// User unread notifications
span.unread-notifications
  position absolute
  top 1.5em
  background-color red
  border-radius 50% 50%
  width 1.5em
  height 1.5em
  font-size .5em
  line-height 1.5em
  color white

  @media (min-width: screen-sm-min)
    left 3.25em

  @media (max-width: screen-xs-max)
    right 41%

  @media (max-width: screen-iphone5-max)
    right 32%
