@import 'colors'
@import 'layout'

navbar-height = 54px

//nav.navbar.navbar-fixed-top
//  border none

ul.nav
  display flex
  flex-direction row
  justify-content space-between

  > li
    text-align center
    float left

ul.navbar-nav > li > a
  line-height 30px
  padding-bottom 0

  &.nav-active
    color color-grey-30
    border-bottom 5px solid color-grey-30

@media (max-width: screen-xs-max)
  ul.navbar-nav.nav
    margin 0

    > li
      width 25%

#main-container

  // Navbar is fixed so move up the main container
  @media (max-width: screen-xs-max)
    position absolute
    width 100%
    height 'calc(100% - %s)' % navbar-height
    bottom navbar-height
    -webkit-overflow-scrolling touch

  @media (min-width: screen-sm-min)
    position relative
    height calc(100% - 2em)
    padding 1em 0

@media (min-width: screen-sm-min)
  div.main-content[data-ui-view="main"]
    height 100%
    overflow hidden

form.edit-form,
ul[data-scroll-loader]
  max-height 100%
  overflow-y auto
  overflow-x hidden

// User profile icon
img.avatar
  height 30px
  width 30px
  border-radius 50% 50%

// User unread notifications
.notifications-container
  position relative

span.unread-notifications
  position absolute
  background-color color-green-2b
  border-radius 50% 50%
  width 1.5em
  height 1.5em
  font-size .3em
  line-height 1.7em
  color white
  text-align center

  @media (min-width: screen-sm-min)
    top 45%
    left 55%

  @media (max-width: screen-xs-max)
    top 20%
    left 55%
