@import 'layout'

.overlay-container,
.overlay-detail
  position fixed
  top 0
  left 0
  right 0

  @media (min-width: screen-sm-min)
    bottom 0
    height 100%

  @media (max-width: screen-xs-max)
    bottom navbar-height
    height 'calc(100% - %s)' % (navbar-height)

.overlay-container
  z-index 9998

.overlay-login,
.overlay-detail
  position absolute
  width 100%
  z-index 9999

.overlay-detail
  @media (min-width: screen-sm-min)
    width 425px
    margin auto
    padding 1em 0

.modal-backdrop.detail-backdrop
  cursor zoom-out
