@import 'layout'

.overlay-container,
.overlay-detail
  height 100%
  position fixed
  top 0
  left 0
  right 0
  bottom 0

.overlay-container
  z-index 9998

.overlay-login,
.overlay-detail
  position absolute
  width 100%
  z-index 9999

.overlay-detail
  @media (min-width: screen-sm-min)
    width detail-width
    margin auto
    padding 1em 0

.modal-backdrop.detail-backdrop
  cursor zoom-out


@media (max-width: screen-xs-max)
  .modal-backdrop.detail-backdrop,
  .overlay-detail-container
    bottom navbar-height
    height 'calc(100% - %s)' % (navbar-height)
