
.overlay-container,
.overlay-main
  position fixed
  top 0
  bottom 0
  left 0
  right 0

.overlay-container
  z-index 9998

.overlay-main
  z-index 9999

.overlay-detail
  height 100%
  padding 1em 0
  cursor pointer
  cursor zoom-out

  .detail-container
    cursor default
