h1, h2, h3, h4, h5, h6
  &.header
    text-transform uppercase
    margin-bottom 20px

@media (max-width: 1200px)
  .text-right-md
    text-align right
  .text-left-md
    text-align-left
  .text-center-md
    text-align center

@media (min-width: 1200px)
  .text-right-lg
    text-align right
  .text-left-lg
    text-align left
  .text-center-lg
    text-align center
