@import 'colors'

/*
 * Navbar
 */

nav.navbar.navbar-fixed-top
  border none

#navbar > .navbar-nav > li > a
  line-height 30px

ul.nav
  display flex
  flex-direction row
  justify-content space-between

  > li
    text-align center
    float left

ul.navbar-nav >  li > a.nav-active
  color color-green-2
  border-bottom 5px solid color-green-2

@media (max-width: 767px)
  ul.navbar-nav.nav
    margin 0

    > li
      width 25%

    .fa
      font-size 1.5em

h1, h2, h3, h4, h5, h6
  &.header
    margin 1.6em 0

.main-content
  margin-top 65px

/* Remove gutters on mobile views */
@media (max-width: 767px)
  .main-content
    margin-top 50px

    .container
      padding-left 0
      padding-right 0

  .xs-clear-padding[class^="col-"]
    padding-left 0
    padding-right 0

  .xs-clear-margin.row
    margin-left 0
    margin-right 0

.quote
  margin 1em 0

.uppercase
  text-transform uppercase

@media (max-width: 1200px)
  .text-right-md
    text-align right
  .text-left-md
    text-align-left
  .text-center-md
    text-align center

@media (min-width: 1200px)
  .text-right-lg
    text-align right
  .text-left-lg
    text-align left
  .text-center-lg
    text-align center

img.avatar
  height 30px
  width 30px
  border-radius 2px
