@import 'colors'

icon-size = 3em
label-size = 1.25em

#sidebar
  height 100%
  position fixed

.sidebar-avatar
  height 148px
  border-radius 50%

.sidebar-quote
  height 140px

.sidebar-item
  cursor pointer
  background color-white
  height 7em
  margin-bottom .5em
  color color-nav

  &.nav-active
    color color-nav-active

  &:first-child
    height 27.5em

.sidebar-item-label,
.sidebar-item-icon
  float left

.sidebar-item-icon
  font-size 3em

.sidebar-item-label
  height (icon-size/label-size)
  font-size label-size
  margin-left 1em

.sidebar-main-text
  height 7em
