@import 'colors'

icon-size = 3em
label-size = 1.25em

#sidebar
  height 100%


/*
 * Top sidebar box
 */

.sidebar-quote
  height 35%
  padding 0 1em

  i.edit-quote
    font-size 2em

  .headline-text
    position relative
    top -1em

.sidebar-avatar
  height 40%

  .img-container
    height 10.5em
    width 10.5em
    max-height 100%
    max-width 100%
    margin auto

  img
    border-radius 50%
    width auto
    height auto
    max-height 100%
    max-width 100%

.sidebar-main-text
  height 25%


/*
 * Sidebar links
 */

.sidebar-item
  cursor pointer
  background color-white
  height 13%
  max-height 96px
  margin-bottom .5em
  color color-nav

  &.nav-active
    color color-nav-active

  &:first-child
    height 58%
    max-height 385px

  &:last-child
    margin-bottom 0

.sidebar-item-label,
.sidebar-item-icon
  float left

.sidebar-item-icon
  font-size 3em

.sidebar-item-label
  height (icon-size/label-size)
  font-size label-size
  margin-left 1em


