<form ng-submit="saveChanges()">
  <div class="form-group ">
    <div>
      <label for="input-opportunity-title">Title</label>
    </div>
    <div class="col-sm-4">
      <input type="text"
        id="input-opportunity-title"
        class="form-control"
        required
        placeholder="Cheese Critic, Mall Cop..."
        ng-model="opportunity.title"/>
    </div>
    </br></br>
  </div>
  <div class="form-group">
    <div>
      <label for="input-opportunity-headline">Headline</label>
    </div>
    <div class="col-sm-6">
      <input type="text"
        id="input-opportunity-headline"
        class="form-control"
        required
        placeholder="Senior taster with ripening experience"
        ng-model="opportunity.headline"/>
    </div>
    </br></br>
  </div>
  <div class="form-group ">
    <div>
      <label for="input-opportunity-location">Location</label>
    </div>
    <div class="col-sm-4">
      <input type="text"
        id="input-opportunity-location"
        class="form-control"
        required
        placeholder="Madison, WI"
        ng-model="opportunity.location"/>
    </div>
    </br></br>
  </div>
  <div class="form-group ">
    <div>
      <label for="input-opportunity-tags">Tags</label>
    </div>
    <div class="col-sm-8">
      <input type="text"
        id="input-opportunity-tags"
        class="form-control"
        placeholder="Cheese, Engineer, Javascript..."
        ng-model="opportunity.tags"/>
    </div>
    </br></br>
  </div>
  <button type="submit" class="btn btn-primary">Save Changes</button>
  </br></br>
</form>
