<form ng-submit="saveChanges()">
  <div class="form-group ">
    <div>
      <label for="input-opportunity-overview">Overview</label>
    </div>
    <div class="col-sm-12">
      <textarea type="text"
        id="input-opportunity-overview"
        class="form-control"
        required
        placeholder="Critique various cheeses, manage team of tasters..."
        ng-model="opportunity.overview">
    </textarea>
    </div>
    </br></br>
  </div>
  <div class="form-group ">
    <div>
      <label for="input-opportunity-datePosted">Date Posted</label>
    </div>
    <div class="col-sm-4">
      <input type="text"
        id="input-opportunity-datePosted"
        class="form-control"
        ng-model="opportunity.datePosted"
        ng-required>
    </div>
    </br></br>
  </div>
  <div class="form-group ">
    <div>
      <label for="input-opportunity-schedule">Employment Schedule</label>
    </div>
    <div class="col-sm-4">
      <input type="text"
        id="input-opportunity-schedule"
        class="form-control"
        placeholder="Full-Time, Part-Time..."
        ng-model="opportunity.schedule"/>
    </div>
    </br></br>
  </div>
  <div class="form-group ">
    <div>
      <label for="input-opportunity-Salary">Salary</label>
    </div>
    <div class="col-sm-2">
      <input type="text"
        id="input-opportunity-salaryMin"
        class="form-control"
        required
        placeholder="50,000"
        ng-model="opportunity.salaryMin"/>
    </div>
    <div class="col-sm-2">
      <input type="text"
        id="input-opportunity-salaryMax"
        class="form-control"
        required
        placeholder="100,000"
        ng-model="opportunity.salaryMax"/>
    </div>
    </br></br>
  </div>
  <button type="submit" class="btn btn-primary">Save Changes</button>
</form>
