<ul class="row xs-clear-margin">
  <li class="col-sm-10 col-sm-offset-1 xs-clear-padding"
    data-ui-sref="shell.opportunity.create">
    <div class="row clear-margin card-shadow text-center add-opportunity-post-card flex-center uppercase">
      <div class="clear-padding">
        <span class="ci ci-plus2 ci-3x"></span>
        <h1>New Opportunity</h1>
    </div>
  </li>
  <li class="col-sm-10 col-sm-offset-1 xs-clear-padding"
    data-ng-repeat="opportunity in opportunities"
    data-opportunity-post-card
    data-model="opportunity"
    data-show-controls-id="showControls.id"
    data-on-delete="removeOpportunity($index)">
  </li>
</ul>

<!--   <table data-st-table="opportunitiesTable" class="table table-hover">

    <thead>
      <th>
      <input type="search"
        placeholder="Search"
        class="input-sm form-control"
        data-st-search />
      </th>
    </thead>

    <thead class="cursorPointer">
      <th class="col-lg-1" data-st-sort="title">Title</th>
      <th class="col-lg-3" data-st-sort="headline">Headline</th>
      <th class="col-lg-1">Tags</th>
      <th class="col-lg-1" data-st-sort="company">Company</th>
      <th class="col-lg-1" data-st-sort="company">Location</th>
      <th class="col-lg-1" data-st-sort="salaryMin">Salary</th>
      <th class="col-lg-1" data-st-sort="schedule">Schedule</th>
    </thead>

    <tbody>
      <tr data-st-select-row="opportunity" data-st-select-mode="multiple" ng-repeat="opportunity in opportunitiesTable">
        <td>
          <a data-ui-sref=".detail({ id: opportunity.id })">
            {{ opportunity.title }}
          </a>
        </td>
        <td>{{ opportunity.headline }}</td>
        <td>
          <span ng-repeat="tag in opportunity.tags">{{ tag }} </span>
        </td>
        <td>{{ opportunity.companyName }}</td>
        <td>{{ opportunity.location }}</td>
        <td>{{ opportunity.salaryMin | salary:opportunity.salaryMax:opportunity.salaryCurrency }}</td>
        <td>{{ opportunity.schedule }}</td>
      </tr>
    </tbody>

    <tfoot>
      <tr>
        <td colspan="12" class="text-center">
          <div class="cursorPointer"
            data-st-pagination=""
            data-st-items-by-page="itemsByPage"
            data-st-displayed-pages="10">
          </div>
        </td>
      </tr>
    </tfoot>

  </table>
 -->
