<div class="card-shadow opportunity-card text-center palette-{{ model._palette }}"
  data-ui-sref=".opportunity.detail({ id: model._id, palette: model._palette })">
  <button class="btn btn-transparent btn-like"
    data-ng-click="likeCard({ $event: $event })"
    data-ng-swipe-right="likeCard({ $event: $event })">
    <i class="ci ci-mug ci-lg"></i>
  </button>
  <img class="rounded"
    alt="opportunity img"
    data-ng-src="{{ model.picture }}"/>
  <i class="feed-is-liked fa fa-check"
    title="This opportunity has already matched with you!">
  </i>
  <div class="quote">{{ model.headline }}</div>
  <div>
    <span class="uppercase">{{ model.creator }} | {{ model.creatorPosition }}</span>
  </div>
  <div class="tags-container">
    <ul class="tags-list">
      <li class="uppercase">
        {{ model.salaryMin | salary:model.salaryMax:model.salaryCurrency }}
      </li>
      <li class="uppercase">
        <i class="fa fa-clock-o"></i>
        {{ model.schedule }}
      </li>
      <li class="uppercase">
        <i class="fa fa-map-marker"></i>
        {{ model.location }}
      </li>
    </ul>
  </div>
</div>
