<form class="container">
  <div class="row xs-clear-margin">
    <div class="col-sm-8 col-sm-offset-2 xs-clear-padding">

      <!-- Profile Edit navigation on mobile -->
      <div class="row edit-row xs-clear-margin visible-xs-block">
        <button class="col-xs-2 edit-page-btn btn btn-default"
          data-ng-click="previousPage()"
          data-ng-disabled="page <= 0">
          <i class="fa fa-caret-left fa-2x"></i>
        </button>
        <div class="col-xs-8 edit-page-header flex-center uppercase"
          data-ng-if="page === 0">
          <span class="edit-page-header-txt">
            {{ opportunity.title }} @
            {{ opportunity.companyName }}
            </br>
          </span>
          <span class="text-center edit-page-header-txt2">
            Job Card
          </span>
        </div>
        <div class="col-xs-8 edit-page-header flex-center uppercase"
          data-ng-if="page === 1">
          <span class="edit-page-header-txt">
            {{ opportunity.title }} @
            {{ opportunity.companyName }}
            </br>
          </span>
          <span class="text-center edit-page-header-txt2">
            Job Card 2
          </span>
        </div>
        <div class="col-xs-8 edit-page-header flex-center uppercase"
          data-ng-if="page === 2">
          <span class="edit-page-header-txt">
            {{ opportunity.title }} @
            {{ opportunity.companyName }}
            </br>
          </span>
          <span class="text-center edit-page-header-txt2">
            About the Position
          </span>
        </div>
        <div class="col-xs-8 edit-page-header flex-center uppercase"
          data-ng-if="page === 3">
          <span class="edit-page-header-txt">
            {{ opportunity.title }} @
            {{ opportunity.companyName }}
            </br>
          </span>
          <span class="text-center edit-page-header-txt2">
            Tags
          </span>
        </div>
        <button class="col-xs-2 edit-page-btn btn btn-default"
          data-ng-click="nextPage()"
          data-ng-disabled="page >= 3">
          <i class="fa fa-caret-right fa-2x"></i>
        </button>
      </div>

      <!-- Opportunity Detail -->
      <div data-ng-class="{ 'hidden-xs': page !== 0 }">
        <div class="row edit-row xs-clear-margin">
          <div class="col-xs-4 col-sm-3 col-sm-offset-2 edit-col flex-center">
            <i class="ci ci-building ci-2x"></i>
            <h3 class="uppercase">Company</h3>
          </div>
          <div class="col-xs-8 col-sm-5 edit-col flex-center-vert">
            <input type="text" ng-model="opportunity.companyName" />
          </div>
        </div>
        <div class="row edit-row xs-clear-margin">
          <div class="col-xs-4 col-sm-3 col-sm-offset-2 edit-col flex-center">
            <i class="ci ci-person-card ci-2x"></i>
            <h3 class="uppercase">Position</h3>
          </div>
          <div class="col-xs-8 col-sm-5 edit-col flex-center-vert">
            <input type="text" ng-model="opportunity.title" />
          </div>
        </div>
        <div class="row edit-row xs-clear-margin">
          <div class="col-xs-4 col-sm-3 col-sm-offset-2 edit-col flex-center">
            <i class="ci ci-salary ci-2x"></i>
            <h3 class="uppercase">Salary</h3>
          </div>
          <div class="col-xs-8 col-sm-5 edit-col flex-center-vert">
            <input type="text" ng-model="opportunity.salaryMin"/>
            <input class="pull-right" type="text" ng-model="opportunity.salaryMax"/>
          </div>
        </div>
        <div class="row edit-row xs-clear-margin">
          <div class="col-xs-4 col-sm-3 col-sm-offset-2 edit-col flex-center">
            <i class="ci ci-clock ci-2x"></i>
            <h3 class="uppercase">Type</h3>
          </div>
          <div class="col-xs-8 col-sm-5 edit-col flex-center-vert">
            <input type="text" ng-model="opportunity.schedule" />
          </div>
        </div>
        <div class="row edit-row xs-clear-margin">
          <div class="col-xs-4 col-sm-3 col-sm-offset-2 edit-col flex-center">
            <i class="ci ci-map-marker ci-2x"></i>
            <h3 class="uppercase">Location</h3>
          </div>
          <div class="col-xs-8 col-sm-5 edit-col flex-center-vert">
            <input type="text" ng-model="opportunity.location" />
          </div>
        </div>
      </div>

      <hr class="hidden-xs">

      <!-- Opportunity Description -->
      <div data-ng-class="{ 'hidden-xs': page !== 1 }">
        <div class="row xs-clear-margin">
          <div class="col-sm-8 col-sm-offset-2 text-center edit-page-label">
            <i class="ci ci-quote edit-quote ci-2x"/>
            <strong>{{ opportunity.companyName }}</strong> is looking for </br>
            <strong>{{ opportunity.title }}s</strong> to:
          </div>
          <div class="col-sm-8 col-sm-offset-2 clear-padding edit-page-text">
            <textarea class="text-center" rows="2" ng-model="opportunity.headline"/>
          </div>
        </div>
      </div>

      <hr data-ng-class="{ 'hidden-xs': page !== 1 }">

      <!-- Company About -->
      <div data-ng-class="{ 'hidden-xs': page !== 1 }">
        <div class="row xs-clear-margin">
          <div class="col-sm-8 col-sm-offset-2 text-center edit-page-label">
            About <strong>{{ opportunity.companyName }}</strong>
          </div>
          <div class="col-sm-8 col-sm-offset-2 clear-padding edit-page-text">
            <textarea class="text-center" rows="4" ng-model="opportunity.companyAbout"/>
          </div>
        </div>
      </div>

      <hr class="hidden-xs">

      <!-- Opportunity Responsibilities -->
      <div data-ng-class="{ 'hidden-xs': page !== 2 }">
        <div class="row xs-clear-margin">
          <div class="col-sm-8 col-sm-offset-2 text-center edit-page-label">
            <strong>Responsibilities</strong>
          </div>
          <div class="col-sm-8 col-sm-offset-2 clear-padding edit-page-text">
            <textarea class="text-center" rows="4" ng-model="opportunity.overview"/>
          </div>
        </div>
      </div>

      <hr class="hidden-xs">

      <!-- Tags -->
      <div data-ng-class="{ 'hidden-xs': page !== 3 }">
        <div class="row xs-clear-margin">
          <div class="col-sm-8 col-sm-offset-2 clear-padding edit-page-tag-input">
            <input class="text-center form-control"
              type="text"
              placeholder="ADD TAG"
              data-ng-model="newTag"
              data-ui-keypress="{13:'addTag(opportunity, newTag)'}"/>
          </div>
          <div class="col-sm-8 col-sm-offset-2 clear-padding">
            <ul class="detail-tags-list user-detail-tags-list">
              <li class="text-center"
                data-ng-repeat="tag in opportunity.tags"
                data-ng-click="deleteTag(opportunity, $index)">
                <span>{{ tag }}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Submit Button -->
      <div class="row xs-clear-margin">
        <div class="col-sm-8 col-sm-offset-2 clear-padding">
          <button type="submit"
            class="edit-submit-btn btn btn-default btn-block"
            data-ng-click="save(opportunity)">
            Save &amp; Finish
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
