<div class="text-center palette-{{ palette }}">
  <div class="row xs-clear-margin">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 xs-clear-padding">
      <div class="white-bg">
        <div class="opportunity-card text-center">
          <a data-ui-sref=".edit"
            <i class="edit-user-btn ci ci-edit ci-lg"></i>
          </a>
          <img class="rounded"
            alt="opportunity img"
            data-ng-src="{{ opportunity.picture }}"/>
          <div class="quote">{{ opportunity.headline }}</div>
          <div>
            <span class="uppercase">
              {{ opportunity.creatorName }} |
              {{ opportunity.creatorPosition }}
            </span>
          </div>
        </div>

        <h1 class="header uppercase">
          {{ opportunity.title }} @
          {{ opportunity.companyName }}
        </h1>

        <div class="row xs-clear-margin">
          <div class="col-xs-8 col-xs-offset-2 opportunity-infobox">
            <i class="ci ci-salary ci-lg"></i>
            <span>
              {{ opportunity.salaryMin | salary:opportunity.salaryMax:opportunity.salaryCurrency }}
            </span>
          </div>
          <div class="col-xs-8 col-xs-offset-2 opportunity-infobox uppercase">
            <i class="ci ci-clock ci-lg"></i>
            <span>{{ opportunity.schedule }}</span>
          </div>
          <div class="col-xs-8 col-xs-offset-2 opportunity-infobox uppercase">
            <i class="ci ci-map-marker ci-lg"></i>
            <span>{{ opportunity.location }}</span>
          </div>
        </div>

        <div class="row xs-clear-margin">
          <div class="col-xs-10 col-xs-offset-1">
            <h2 class="header uppercase">Responsibilities</h2>
            <p>{{ opportunity.overview }}</p>

            <!-- About Company -->
            <img class="rounded"
              alt="opportunity img"
              data-ng-src="{{ opportunity.picture }}"/>
            <h2 class="header uppercase">About {{ opportunity.companyName }}</h2>
            <p>{{ opportunity.companyAbout }}</p>
          </div>
        </div>

        <!-- Tags -->
        <ul class="detail-tags-list opportunity-detail-tags-list uppercase">
          <li data-ng-repeat="tag in opportunity.tags">
            <span>{{ tag }}</span>
          </li>
        </ul>

        <div class="row xs-clear-margin">
          <div class="col-xs-10 col-xs-offset-1">
            <!-- About Creator -->
            <img class="rounded"
              alt="creator img"
              data-ng-src="{{ opportunity.creatorPicture }}"/>
            <h2 class="header uppercase">About {{ opportunity.creatorName }}</h2>
            <p>{{ opportunity.creatorHeadline }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
