<div class="text-center palette-{{ palette }} height-100">
  <div class="clear-padding white-bg height-100 detail-container">
    <div class="opportunity-card text-center detail-header">
      <button class="btn btn-transparent detail-edit-btn"
        data-ng-click="$event.stopPropagation();"
        data-ui-sref="shell.opportunity.detail.edit({ id: opportunity._id, palette: palette })"
        data-ng-if="isEditable()">
        <i class="ci ci-edit ci-lg"></i>
      </button>

      <div class="card-img-container">
        <div class="flex-center">
          <img class="rounded"
            alt="opportunity img"
            data-alt-img="{{ opportunity.picture }}"/>
        </div>
      </div>

      <div class="card-quote">
        <div class="flex-center-vert">
          {{ opportunity.headline }}
        </div>
      </div>

      <div class="card-main-text">
        <div class="flex-center-vert">
          <div class="ellipsis uppercase">
            <span>{{ opportunity.creatorName }}</span>
            <span data-ng-if="opportunity.creatorPosition">|</span>
            <span>{{ opportunity.creatorPosition }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="detail-body">
      <h1 class="header uppercase ellipsis">
        <span>{{ opportunity.title }}</span>
        <span data-ng-if="opportunity.companyName">@</span>
        <span>{{ opportunity.companyName }}</span>
      </h1>

      <div class="row clear-margin">
        <div class="col-xs-8 col-xs-offset-2 opportunity-infobox">
          <i class="ci ci-salary ci-lg"></i>
          <span class="ellipsis">
            {{ opportunity.salaryMin | salary:opportunity.salaryMax:opportunity.salaryCurrency }}
          </span>
        </div>
        <div class="col-xs-8 col-xs-offset-2 opportunity-infobox uppercase">
          <i class="ci ci-clock ci-lg"></i>
          <span class="ellipsis">{{ opportunity.schedule }}</span>
        </div>
        <div class="col-xs-8 col-xs-offset-2 opportunity-infobox uppercase">
          <i class="ci ci-map-marker ci-lg"></i>
          <span class="ellipsis">{{ opportunity.locations[0] }}</span>
        </div>
      </div>

      <div class="row clear-margin">
        <div class="col-xs-10 col-xs-offset-1">
          <h2 class="header uppercase">Responsibilities</h2>
          <p>{{ opportunity.overview }}</p>

          <!-- About Company -->
          <img class="rounded"
            alt="opportunity img"
            data-alt-img="{{ opportunity.picture }}"/>
          <h2 class="header uppercase">About {{ opportunity.companyName }}</h2>
          <p>{{ opportunity.companyAbout }}</p>
        </div>
      </div>

      <!-- Tags -->
      <ul class="detail-tags-list opportunity-detail-tags-list uppercase">
        <li class="ellipsis"
          data-ng-repeat="tag in opportunity.tags">
          <span>{{ tag }}</span>
        </li>
      </ul>

      <div class="row clear-margin">
        <div class="col-xs-10 col-xs-offset-1">
          <!-- About Creator -->
          <img class="rounded"
            alt="creator img"
            data-alt-img="{{ opportunity.creatorPicture }}"/>
          <h2 class="ellipsis header uppercase">
            About {{ opportunity.creatorName }}
          </h2>
          <p>{{ opportunity.creatorHeadline }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
