<div class="container">
  <ul class="row xs-clear-margin opportunities-list">
    <li class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0 xs-clear-padding"
      data-ui-sref="shell.opportunity.create">
      <div class="row clear-margin card-shadow text-center add-opportunity-post-card">
        <div class="clear-padding">
          <span class="glyphicon glyphicon-plus fa-2x"></span>
          <p>New Opportunity</p>
      </div>
    </li>
    <li class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0 xs-clear-padding"
      data-ng-repeat="opportunity in opportunities"
      data-opportunity-post-coffee-card
      data-model="opportunity">
    </li>
  </ul>

<!--   <ul class="row xs-clear-margin opportunities-list">
    <li class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0 xs-clear-padding"
      data-ui-sref=".detail({ id: opportunity.id, palette: count })"
      data-ng-repeat="opportunity in opportunities">
      <div class="row xs-clear-padding opportunity-coffee-card palette-{{ $index % 3 }}">
        <div class="col-xs-2 col-lg-1">
          <img class="rounded"
            alt="opportunity img"
            data-ng-src="{{ opportunity.picture }}"/>
        </div>
        <div class="col-xs-8">
          <h1 class="header uppercase">
            {{ opportunity.title }} @
            {{ opportunity.companyName }}
          </h1>
          <div class="quote">{{ opportunity.headline }}</div>
        </div>
      </div>
    </li>
  </ul> -->
<!--   <table data-st-table="opportunitiesTable" class="table table-hover">

    <thead>
      <th>
      <input type="search"
        placeholder="Search"
        class="input-sm form-control"
        data-st-search />
      </th>
    </thead>

    <thead class="cursorPointer">
      <th class="col-lg-1" data-st-sort="title">Title</th>
      <th class="col-lg-3" data-st-sort="headline">Headline</th>
      <th class="col-lg-1">Tags</th>
      <th class="col-lg-1" data-st-sort="company">Company</th>
      <th class="col-lg-1" data-st-sort="company">Location</th>
      <th class="col-lg-1" data-st-sort="salaryMin">Salary</th>
      <th class="col-lg-1" data-st-sort="schedule">Schedule</th>
    </thead>

    <tbody>
      <tr data-st-select-row="opportunity" data-st-select-mode="multiple" ng-repeat="opportunity in opportunitiesTable">
        <td>
          <a data-ui-sref=".detail({ id: opportunity.id })">
            {{ opportunity.title }}
          </a>
        </td>
        <td>{{ opportunity.headline }}</td>
        <td>
          <span ng-repeat="tag in opportunity.tags">{{ tag }} </span>
        </td>
        <td>{{ opportunity.companyName }}</td>
        <td>{{ opportunity.location }}</td>
        <td>{{ opportunity.salaryMin | salary:opportunity.salaryMax:opportunity.salaryCurrency }}</td>
        <td>{{ opportunity.schedule }}</td>
      </tr>
    </tbody>

    <tfoot>
      <tr>
        <td colspan="12" class="text-center">
          <div class="cursorPointer"
            data-st-pagination=""
            data-st-items-by-page="itemsByPage"
            data-st-displayed-pages="10">
          </div>
        </td>
      </tr>
    </tfoot>

  </table>
 -->
</div>
