@import 'colors'

$text-color = color-grey-30

// Font
@font-face
  font-family 'seravek'
  src url('fonts/seravek.ttf') format('truetype')

$font-family-base = 'seravek', Helvetica, sans-serif

// Navbar
$navbar-padding-vertical = 10px
$navbar-inverse-bg = color-grey-30

$navbar-inverse-color = color-grey-90
$navbar-inverse-link-color = color-grey-90
$navbar-inverse-link-hover-color = color-green-2
$navbar-inverse-link-active-color = color-green-2

//$navbar-inverse-link-hover-bg
//$navbar-inverse-link-active-bg

// Border radius
$border-radius-base = 0
$border-radius-large = 0
$border-radius-small = 0

// Button
$btn-default-color = color-grey-90
$btn-default-bg = color-grey-50
$btn-default-border = color-grey-50

// Font Size
$font-size-base = 16px
$font-size-h1 = floor(($font-size-base * 1.25))
$font-size-h2 = $font-size-base
$font-size-h3 = ceil(($font-size-base * .95))
$font-size-h4 = ceil(($font-size-base * .9))
$font-size-h5 = $font-size-base
$font-size-h6 = ceil(($font-size-base * 0.85))

// Modals

$modal-inner-padding = 0

$modal-content-bg = black
$modal-content-border-color = black
$modal-content-fallback-border-color = black

@import 'bootstrap'

textarea
  overflow hidden
