<div class="container login">
  <div class="row">
    <div class="col-lg-12 text-center">
      <img class="logo"
        alt="coffeetheapp logo"
        src="http://coffeetheapp.com/img/logo.jpg"/>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4 text-center">
      <h1>Connecting the Next Generation of Professionals</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4 text-center">
      <a href="/api/auth/linkedin"
        data-ng-if="!authenticating">
        <i class="fa fa-linkedin-square"></i>
        Sign in with LinkedIn
      </a>
      <div data-ng-if="authenticating">
        <i class="fa fa-spinner fa-spin"></i>
        Authenticating
      </div>
    </div>
  </div>
</div>
