<nav class="navbar navbar-fixed-bottom visible-xs-block navbar-inverse"
  data-ng-if="_user">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>
        <a data-ui-sref="shell.feed"
          data-ui-sref-active="nav-active">
          <i class="ci ci-home2 ci-2x"></i>
          <span class="hidden-xs">Home</span>
        </a>
      </li>
      <li>
        <a data-ui-sref="shell.messaging.main"
          data-ui-sref-active="nav-active">
          <i class="ci ci-callout2 ci-2x notifications-container">
            <span class="unread-notifications"
              data-ng-if="_user.unreadNotificationsCount">
              <!-- {{ _user.unreadNotificationsCount }} -->
            </span>
          </i>
          <span class="hidden-xs">Messages</span>
        </a>
      </li>
      <li>
        <a data-ui-sref="shell.opportunities"
          data-ui-sref-active="nav-active">
          <i class="ci ci-suitcase ci-2x"></i>
          <span class="hidden-xs">Opportunities</span>
        </a>
      </li>
      <li class="visible-xs-block">
        <a data-ui-sref="shell.user.detail({ id: _user._id })"
          data-ui-sref-active="nav-active">
          <i class="ci ci-person ci-2x"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
