<nav class="navbar collapse navbar-collapse navbar-static-top navbar-inverse">
  <div id="navbar" class="container">
    <ul class="nav navbar-nav">
      <li>
        <a data-ui-sref="shell.feed">
          <i class="fa fa-home"></i>
          Home
        </a>
      </li>
      <li>
        <a data-ui-sref="messages">
          <i class="fa fa-comment"></i>
          Messages
        </a>
      </li>
      <li>
        <a data-ui-sref="shell.opportunity">
          <i class="fa fa-suitcase"></i>
          Jobs
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a data-ui-sref="shell.user">
          <img class="avatar"
            alt="user avatar"
            data-ng-src="{{ _user.picture }}"/>
        </a>
      </li>
    </ul>
  </div>
</nav>
<div ui-view="main"></div>
