<nav class="navbar navbar-fixed-bottom visible-xs-block navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>
        <a data-ui-sref="shell.feed"
          data-ui-sref-active="nav-active">
          <i class="ci ci-home2 ci-lg"></i>
          <span class="hidden-xs">Home</span>
        </a>
      </li>
      <li>
        <a data-ui-sref="shell.messaging"
          data-ui-sref-active="nav-active">
          <i class="ci ci-callout2 ci-lg"></i>
          <span class="hidden-xs">Messages</span>
          <span class="unread-notifications"
            data-ng-if="_user.unreadNotificationsCount">
            {{ _user.unreadNotificationsCount }}
          </span>
        </a>
      </li>
      <li>
        <a data-ui-sref="shell.opportunity"
          data-ui-sref-active="nav-active">
          <i class="ci ci-suitcase ci-lg"></i>
          <span class="hidden-xs">Opportunities</span>
        </a>
      </li>
      <li class="visible-xs-block">
        <a data-ui-sref="shell.user.detail({ id: _user._id })"
          data-ui-sref-active="nav-active">
          <i class="ci ci-person ci-lg"></i>
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="hidden-xs">
        <a data-ui-sref="shell.user.detail({ id: _user._id })"
          data-ui-sref-active="nav-active">
          <img class="avatar"
            alt="user avatar"
            data-ng-src="{{ _user.picture }}"/>
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="main-content"
  ui-view="main"></div>
