@import "colors"

.cursorPointer
  cursor: pointer

.st-sort-ascent, .st-sort-descent
  text-decoration: underline

.st-selected
  background-color: AliceBlue

img.rounded
  border-radius 50%
  height: 50px
  width: 50px

.opportunity-infobox
  padding 1em
  margin-bottom .5em

.opportunity-card
  padding 1em 0

.opportunities-list
  list-style-type none
  margin 0
  padding 0

/*
 * Opportunity Post cards
 */

.opportunity-post-card
  overflow-x hidden

.opportunity-post-card-controls
  position absolute
  right 0
  transition right .2s ease-in-out

  &.grow[class*='col-']
    position absolute
    right -200px


.add-opportunity-post-card
  background-color color-grey-50
  color color-grey-20
  height 175px

.opportunity-post-card-main
  height 150px
  position relative
  left 0
  transition left .2s ease-in-out

  &.slide-left
    position relative
    left -200px


.opportunity-post-card-info
  height 25px

  > div:first-child
    border-right 1px solid color-grey-80


/*
 * Palette variations
 */

.palette-0

  &.opportunity-post-card,
  .opportunity-card,
  &.opportunity-card
    color-grey-30
    background-color color-blue-3

    >.tags-container,
    >.opportunity-post-card-info
      background-color color-blue-3a

  .opportunity-infobox,
  .opportunity-detail-tags-list > li
    border 1px solid color-blue-3a

  &.opportunity-match-card > .match-card-avatar
    background linear-gradient(to right, color-blue-3 50%, rgba(0,0,0,0) 50%)

.palette-1

  &.opportunity-post-card,
  .opportunity-card,
  &.opportunity-card
    color color-white
    background-color color-blue-1

    >.tags-container,
    >.opportunity-post-card-info
      background-color color-blue-1a

  .opportunity-infobox,
  .opportunity-detail-tags-list > li
    border 1px solid color-blue-1a

  &.opportunity-match-card > .match-card-avatar
    background linear-gradient(to right, color-blue-1 50%, rgba(0,0,0,0) 50%)

.palette-2

  &.opportunity-post-card,
  .opportunity-card,
  &.opportunity-card
    color color-white
    background-color color-blue-2

    >.tags-container,
    >.opportunity-post-card-info
      background-color color-blue-2a

  .opportunity-infobox,
  .opportunity-detail-tags-list > li
    border 1px solid color-blue-2a

  &.opportunity-match-card > .match-card-avatar
    background linear-gradient(to right, color-blue-2 50%, rgba(0,0,0,0) 50%)
