@import "colors"

.cursorPointer
  cursor: pointer

.st-sort-ascent, .st-sort-descent
  text-decoration: underline

.st-selected
  background-color: AliceBlue

.opportunity-infobox
  border 1px solid color-opportunity-50
  padding 1em
  margin-bottom .5em
