@import 'colors'
@import 'layout'

.cursorPointer
  cursor: pointer

.st-sort-ascent, .st-sort-descent
  text-decoration: underline

.st-selected
  background-color: AliceBlue

.opportunity-infobox
  padding 1em
  margin-bottom .5em

/*
 * Opportunity Billing
 */

input[type=number]
  width 40px

.billing-page-checkbox
  -webkit-appearance checkbox !important
  height 20px
  width 20px

@media (max-width: screen-xs-max)
  .billing-page-purchase
    font-size 14px

/*
 * Opportunity Post cards
 */

.opportunity-post-card
  overflow-x hidden

.opportunity-post-card-controls
  position absolute
  right 0
  transition right .2s ease-in-out

  &.grow[class*='col-']
    position absolute
    right -100px


.add-opportunity-post-card
  background-color color-grey-80
  color color-grey-30
  height 175px
  margin-bottom 1px

  @media (min-width: screen-sm-min)
    margin-bottom 1em

.opportunity-post-card-main
  height 16em
  position relative
  left 0
  transition left .2s ease-in-out

  @media (min-width: screen-sm-min)
    height 15em

  &.slide-left
    position relative
    left -100px


.opportunity-post-card-info
  height 2em

  > div:first-child
    border-right 1px solid color-grey-80


/*
 * Palette variations
 */

.palette-0

  &.opportunity-post-card,
  .opportunity-card,
  &.opportunity-card,
  &.opportunity-edit-form .edit-page-header,
  &.opportunity-edit-form .edit-page-btn,
  &.opportunity-edit-form .edit-submit-btn
    color color-grey-30
    background-color color-blue-3

    >.tags-container,
    >.opportunity-post-card-info
      background-color color-blue-3a

  .opportunity-infobox,
  .opportunity-detail-tags-list > li
    border 1px solid color-blue-3a

  &.opportunity-match-card > .match-card-avatar
    background-color color-blue-3

.palette-1

  &.opportunity-post-card,
  .opportunity-card,
  &.opportunity-card,
  &.opportunity-edit-form .edit-page-header,
  &.opportunity-edit-form .edit-page-btn,
  &.opportunity-edit-form .edit-submit-btn
    color color-white
    background-color color-blue-1

    >.tags-container,
    >.opportunity-post-card-info
      background-color color-blue-1a

  .opportunity-infobox,
  .opportunity-detail-tags-list > li
    border 1px solid color-blue-1a

  &.opportunity-match-card > .match-card-avatar
    background-color color-blue-1

.palette-2

  &.opportunity-post-card,
  .opportunity-card,
  &.opportunity-card,
  &.opportunity-edit-form .edit-page-header,
  &.opportunity-edit-form .edit-page-btn,
  &.opportunity-edit-form .edit-submit-btn
    color color-white
    background-color color-blue-2

    >.tags-container,
    >.opportunity-post-card-info
      background-color color-blue-2a

  .opportunity-infobox,
  .opportunity-detail-tags-list > li
    border 1px solid color-blue-2a

  &.opportunity-match-card > .match-card-avatar
    background-color color-blue-2

// pre-palette (new opportunity)
.edit-page-header
  color color-white
  background-color color-blue-2
