@import 'colors'
@import 'layout'

/*
 * Mobile Styling
 */

.edit-quote
  left 0em
  position relative

.edit-page-text
  padding 15px
  padding-top 0px

.edit-page-label
  padding-top 37px
  padding-bottom 37px

.edit-page-tag-input
  padding-top 20px

.edit-page-header-txt
  font-size 14px

.edit-page-header-txt2
  font-size 12px
