.edit-quote
  left 0em
  position relative

.edit-page-text
  padding 15px
  padding-top 0px

.edit-page-label
  padding-top 37px
  padding-bottom 37px

.edit-page-tag-input
  padding-top 50px
  padding-bottom 50px

.edit-page-header-txt
  font-size 14px

.edit-page-header-txt2
  font-size 12px

@media (max-width: 767px)
  .edit-row:last-child
    >.edit-col
      border-bottom 1px solid #4c4c4c

  .edit-row
    height 95px
