<div>
  <div class="row xs-clear-margin visible-xs-block messaging-title">
    <button class="col-xs-2 btn btn-default edit-page-btn"
      data-ui-sref="shell.messaging.main">
      <i class="fa fa-caret-left fa-3x"></i>
    </button>
    <div class="col-xs-2 flex-center"
      data-ui-sref="shell.user.detail({ id: matchedUser._id })">
      <img class="rounded"
        alt="match img"
        data-alt-img="{{ match.picture }}"
        data-fail-img="/images/silhouette.png"/>
    </div>
    <div class="col-xs-6 flex-center-vert"
      data-ui-sref="shell.user.detail({ id: matchedUser._id })">
      <h2 class="uppercase">
        {{ match.title }}
      </h2>
    </div>
    <button class="col-xs-2 btn btn-default edit-page-btn"
      data-ng-click="nextPage()">
      <i class="ci ci-info ci-lg"></i>
    </button>
  </div>

  <div class="row xs-clear-margin messaging-detail">

    <div class="row clear-margin match-card hidden-xs">

      <div class="col-sm-2 col-sm-offset-1 clear-padding flex-center match-card-avatar"
        data-ui-sref="shell.user.detail({ id: matchedUser._id })">
        <div class="img-container flex-center">
          <img class="rounded"
            alt="match img"
            data-alt-img="{{ match.picture }}"
            data-fail-img="/images/silhouette.png"/>
          </div>
      </div>

      <div class="col-sm-6 match-card-detail flex-center-vert"
        data-ui-sref="shell.user.detail({ id: matchedUser._id })">
        <div class="uppercase">
          {{ match.title }}
        </div>
        <div class="uppercase"
          data-ng-if="match.subtitle">
          {{ match.subtitle }}
        </div>
        <div class="match-latest-message">
          {{ match.latest }}
        </div>
      </div>

      <div class="col-sm-3 text-right">
        <button class="btn btn-transparent"
          data-ng-click="report(match)">
          <i class="ci ci-report ci-lg"></i>
        </button>

        <button class="btn btn-transparent"
          data-ng-click="delete(match._id)">
          <i class="ci ci-trash ci-lg"></i>
        </button>
      </div>
    </div>

    <div class="well xs-clear-padding messaging-detail-well palette-{{ match._palette }} {{ match._paletteClass }}"
      data-scroll-loader
      data-handle-height-change="onHeightChange()"
      data-handle-scroll-to-top="loadMessages()">

      <ul>
        <li class="row xs-clear-margin"
          data-ng-if="!allMessagesLoaded">
          <div class="col-xs-12 clear-padding loading-container">
            <div class="flex-center">
              <i class="fa fa-spinner fa-spin"></i>
            </div>
          </div>
        </li>

        <li class="row xs-clear-margin"
          data-ng-repeat="message in matchMessages"
          data-ng-class="{
          'user-message' : (message.senderId === _user._id),
          'other-message' : (message.senderId !== _user._id)
          }">

          <div class="col-xs-1 flex-center clear-padding">
            <img class="rounded message-image"
              alt="match img"
              data-alt-img="{{ match.picture }}"
              data-fail-img="/images/silhouette.png"
              data-ng-if="message.senderId !== _user._id"/>
          </div>

          <div class="col-xs-10">
            <div class="chat-bubble">{{ message.text }}</div>
          </div>

          <div class="col-xs-1 flex-center clear-padding">
            <img class="rounded message-image"
              alt="user img"
              data-alt-img="{{ _user.picture }}"
              data-fail-img="/images/silhouette.png"
              data-ng-if="!message._pending && message.senderId === _user._id"/>
            <div class="message-loading-icon fa fa-circle-o-notch fa-spin"
              data-ng-if="message._pending">
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <form class="row messaging-detail-input xs-clear-margin"
    novalidate
    name="messageForm">
    <div class="col-xs-9 col-sm-10 clear-padding">
      <input type="text"
        name="text"
        required
        autocomplete="off"
        maxlength="500"
        class="form-control"
        placeholder="Hello..."
        data-ng-model="messageText" />
    </div>
    <div class="col-xs-3 col-sm-2 clear-padding">
      <button class="btn btn-primary btn-block"
        data-ng-click="sendMessage()"
        data-ng-disabled="messageForm.text.$error.required">
        Send
      </button>
    </div>
  </form>
</div>
