@import 'colors'
@import 'layout'

match-card-height = 9em
title-height = 5.5em
input-xs-height = 2.5em
input-padding = 1em
input-height = input-xs-height + input-padding

.match-card
  height 9em

.row.messaging-title
  color color-white
  background color-grey-50
  height title-height

// Adjust messages container to clear the submit button
.row.messaging-detail
  position absolute
  bottom input-xs-height

  @media (max-width screen-xs-max)
    top title-height
    height "calc(100% - %s - %s)" % (input-xs-height title-height)

  @media (min-width screen-sm-min)
    top 0
    bottom input-height
    height "calc(100% - %s)" % input-height

.row.messaging-detail,
.row.messaging-detail-input
  width 100%

.well.messaging-detail-well
  position absolute
  right 0
  height 100%
  width 100%
  overflow-y auto
  margin 0
  background-color color-white
  border none

  @media (min-width: screen-sm-min)
    height "calc(100% - 9em)" % (match-card-height)

div.messaging-detail-profile
  float left
  height 100%
  overflow-y auto
  padding-left 0

.messaging-detail-input
  position absolute
  bottom 0
  height input-xs-height

  @media (min-width screen-sm-min)
    height input-height
    padding input-padding 0 0 0

/*
 * Messages
 */

img.message-image
  height 2.5em
  width 2.5em

.message-loading-icon
  position relative
  top .25em

.user-message
  position relative
  text-align right

  .chat-bubble
    border 1px solid color-grey-2
    background color-white !important
    margin-left 2em
    margin-right 0

.chat-bubble
  display inline-block
  padding .75em 1em
  margin-right 2em
  margin-bottom .5em
  border-radius 1em
  border none
  background-color color-grey-2

.user.palette-1,
.user.palette-4,
.opportunity.palette-1,
.opportunity.palette-2
  .other-message
    color color-white

.user.palette-0
  .chat-bubble
    background-color color-green-3

  .user-message .chat-bubble
    border 1px solid color-green-3

.user.palette-1
  .chat-bubble
    background-color color-green-1

  .user-message .chat-bubble
    border 1px solid color-green-1

.user.palette-2
  .chat-bubble
    background-color color-grey-1

  .user-message .chat-bubble
    border 1px solid color-grey-1

.user.palette-3
  .chat-bubble
    background-color color-green-2

  .user-message .chat-bubble
    border 1px solid color-green-2

.user.palette-4
  .chat-bubble
    background-color color-grey-2

  .user-message .chat-bubble
    border 1px solid color-grey-2

.opportunity.palette-0
  .chat-bubble
    background-color color-blue-3

  .user-message .chat-bubble
    border 1px solid color-blue-3

.opportunity.palette-1
  .chat-bubble
    background-color color-blue-1

  .user-message .chat-bubble
    border 1px solid color-blue-1

.opportunity.palette-2
  .chat-bubble
    background-color color-blue-2

  .user-message .chat-bubble
    border 1px solid color-blue-2
