@import 'colors'
@import 'layout'

title-height = 75px
input-height = 60px
input-xs-height = 36px


.row.messaging-title
  color color-white
  background color-grey-50
  height title-height

// Adjust messages container to clear the submit button
.row.messaging-detail
  position absolute
  bottom input-xs-height

  @media (max-width screen-xs-max)
    top title-height
    height "calc(100% - %s - %s)" % (input-xs-height title-height)

  @media (min-width screen-sm-min)
    top 0
    bottom input-height
    height "calc(100% - %s)" % input-height

.row.messaging-detail,
.row.messaging-detail-input
  width 100%

.well.messaging-detail-well
  position absolute
  right 0
  height 100%
  overflow-y auto
  margin 0
  background-color color-white
  border none

div.messaging-detail-profile
  float left
  height 100%
  overflow-y auto
  padding-left 0

.messaging-detail-input
  position absolute
  bottom 0
  height input-xs-height

  @media (min-width screen-sm-min)
    height input-height
    padding 12px 0

/*
 * Messages
 */

img.message-image
  height 2.5em
  width 2.5em

.message-loading-icon
  position relative
  top .25em

.user-message
  position relative
  text-align right

  .chat-bubble
    background-color color-green-3a
    border none

.chat-bubble
  display inline-block
  padding .5em
  background color-white
  margin-bottom .5em
  border-radius 1em
  border 1px solid color-green-2a
