@import 'colors'
@import 'layout'

border-color = color-grey-80

img-translate = 50%

/*
 * Matches
 */

#messaging-main
  overflow-y auto

.matches-list-item
  @media (max-width: screen-xs-max)
    border-bottom 1px solid border-color

  @media (min-width: screen-sm-min)
    margin-bottom .5em

.match-card
  height 9em
  position relative
  left 0
  transition left .2s ease-in-out

  &.slide-left
    position relative
    left -200px

.match-card,
.match-card-controls
  background-color color-white


.match-latest-message
  text-overflow ellipsis
  white-space nowrap
  overflow hidden

.match-unread-badge
  height .75em
  width .75em
  position relative
  top -.75em
  border-radius 50%
  background-color color-green-1

  @media (max-width: screen-xs-max)
    right -80%

  @media (min-width: screen-sm-min)
    right -75%

.match-card-detail,
.match-card-avatar
  cursor pointer
  height 100%

.match-card-avatar
  > .img-container
    position relative
    height 5em
    width 5em
    left img-translate

    img,
    .filter
      height 100%
      width 100%

    .filter
      position absolute
      border-radius 50%
      background rgba(255,255,255,.3)
      z-index 9999
      visibility visible

      @media (max-width: screen-xs-max)
        visibility hidden

  &.active > .img-container > .filter
    visibility hidden


div.match-card-detail
  padding-left 3.5em

  > div
    margin .25em 0

// Controls revealed on the right side of match card
.match-card-controls
  position absolute
  right 0
  transition right .2s ease-in-out

  &.grow[class*='col-']
    position absolute
    right -200px
